<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ege Study</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
            <div class="browserupgrade">
                Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
                Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
            </div>
        <![endif]-->

        <div class="jumbotron container">
            <div class="jumbotron__content">
                <h1 class="jumbotron__heading" style="max-width: 728px;">
                    ЕГЭ-Студия – лидер в области подготовки к ЕГЭ и поступления в ВУЗы
                </h1>
                <div class="jumbotron__description" style="max-width: 728px;">
                    Наша миссия – качественное и доступное образование для школьников России и других стран. Мы — профессионалы. Мы хотим, чтобы профессионалов в России стало больше.
                </div>
                <div class="jumbotron__operations">
                    <a class="jumbotron__action button button--border button--larger" href="#">
                        Посетить центр →
                    </a>
                </div>
            </div>
            <div class="jumbotron__preview">
                <div style="height: 508px; background: purple;"></div>
            </div>
        </div>
        <section class="score">
            <div class="score__wrap container">
                <h2 class="score__heading">
                    Средний балл наших&nbsp;учащихся
                </h2>
                <div class="score__list">
                    <div class="score__item">
                        <img class="score__icon" src="../symbols/score-orange.svg" width="41" height="40" alt="">
                        <div class="score__label">88 баллов<br> по русскому языку</div>
                    </div>
                    <div class="score__item">
                        <img class="score__icon" src="../symbols/score-yellow.svg" width="41" height="40" alt="">
                        <div class="score__label">83 балла<br> по математике</div>
                    </div>
                    <div class="score__item">
                        <img class="score__icon" src="../symbols/score-green.svg" width="41" height="40" alt="">
                        <div class="score__label">86 баллов<br> по обществознанию</div>
                    </div>
                </div>
            </div>
        </section>
        <section class="types container">
            <div class="types__item types__item--moscow">
                <h2 class="types__heading">
                    Очные курсы в Москве
                </h2>
                <div class="types__description wysiwyg">
                    <p>
                        Занятия на очных курсах начнутся со 2 августа 2021 года. Звоните!
                    </p>
                    <ul>
                        <li>Проведем бесплатное тестирование для определения уровня</li>
                        <li>Составим персональный план занятий</li>
                        <li>Готовим с любого уровня</li>
                        <li>Занятия индивидуально или в мини-группах</li>
                        <li>Занятия проходят в центре Москвы</li>
                        <li>Сопровождаем на апелляции после ЕГЭ (до 3-10 тестовых баллов)</li>
                    </ul>
                </div>
                <a class="types__acton button button--border" href="#">
                    Выбрать курс в Москве
                </a>
            </div>
            <div class="types__item types__item--online">
                <h2 class="types__heading">
                    Онлайн-курсы подготовки
                    в&nbsp;прямом эфире
                </h2>
                <div class="types__description wysiwyg">
                    <p>
                        Дистанционная подготовка учащихся из любого города России.
                    </p>
                </div>
                <a class="types__acton button button--border" href="#">
                    Выбрать онлайн-курс
                </a>
            </div>
            <div class="types__item types__item--records">
                <h2 class="types__heading">
                    Курсы в записи
                </h2>
                <div class="types__description wysiwyg">
                    <p>
                        Начать можно в любой момент. Все онлайн-занятия есть в записи, а тренажер задач ждет вас 24/7.
                    </p>
                </div>
                <a class="types__acton button button--border" href="#">
                    Выбрать курс в записи
                </a>
            </div>
        </section>
        <section class="teachers-preview container">
            <h2 class="teachers-preview__heading">
                Преподаватели ЕГЭ-Студия –<br>
                <span class="highlight">лучшие репетиторы Москвы</span>
            </h2>
            <div class="teachers-preview__intro">
                Более 50% наших преподавателей – кандидаты наук. Опыт работы с абитуриентами – от 10 до 30 лет. 17 наших преподавателей – авторы книг и учебных пособий для подготовки к ЕГЭ и олимпиадам, изданных крупнейшими издательствами России.
            </div>
            <div class="teachers-preview__list hide-scrollbar">
                <div class="teachers-preview__ribbon">
                    <div class="teachers-preview__item">
                        <a class="teachers-preview__preview circle" href="#">
                            <img class="circle__photo"
                                 width="138"
                                 height="138"
                                 srcset="../temp/circle-photo@2x.jpg"
                                 src="../temp/circle-photo.jpg"
                                 alt=""
                            >
                        </a>
                        <h3 class="teachers-preview__name">
                            <a class="link link--inherit" href="#">Анна Георгиевна Малкова</a>
                        </h3>
                        <div class="teachers-preview__bio">
                            Преподаватель математики со стажем более 25 лет. Учредитель и директор компании ЕГЭ-Студия. Автор видеокурса по математике для подготовки к ЕГЭ. Автор книг «ЕГЭ по математике.
                        </div>
                        <div class="teachers-preview__menu">
                            <div class="teachers-preview__action">
                                <a class="dash" href="#">
                                    <span class="dash__label">Отзывы</span>
                                    <img class="dash__icon dash__icon--right" src="../symbols/arrow-right.svg" width="20" height="20" alt="">
                                </a>
                            </div>
                            <div class="teachers-preview__action">
                                <a class="dash" href="#">
                                    <span class="dash__label">Курсы преподавателя</span>
                                    <img class="dash__icon dash__icon--right" src="../symbols/arrow-right.svg" width="20" height="20" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="teachers-preview__item">
                        <a class="teachers-preview__preview circle" href="#">
                            <img class="circle__photo"
                                 width="138"
                                 height="138"
                                 srcset="../temp/circle-photo@2x.jpg"
                                 src="../temp/circle-photo.jpg"
                                 alt=""
                            >
                        </a>
                        <h3 class="teachers-preview__name">
                            <a class="link link--inherit" href="#">Анна Георгиевна Малкова</a>
                        </h3>
                        <div class="teachers-preview__bio">
                            Преподаватель математики со стажем более 25 лет. Учредитель и директор компании ЕГЭ-Студия. Автор видеокурса по математике для подготовки к ЕГЭ. Автор книг «ЕГЭ по математике.
                        </div>
                        <div class="teachers-preview__menu">
                            <div class="teachers-preview__action">
                                <a class="dash" href="#">
                                    <span class="dash__label">Отзывы</span>
                                    <img class="dash__icon dash__icon--right" src="../symbols/arrow-right.svg" width="20" height="20" alt="">
                                </a>
                            </div>
                            <div class="teachers-preview__action">
                                <a class="dash" href="#">
                                    <span class="dash__label">Курсы преподавателя</span>
                                    <img class="dash__icon dash__icon--right" src="../symbols/arrow-right.svg" width="20" height="20" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="teachers-preview__item">
                        <a class="teachers-preview__preview circle" href="#">
                            <img class="circle__photo"
                                 width="138"
                                 height="138"
                                 srcset="../temp/circle-photo@2x.jpg"
                                 src="../temp/circle-photo.jpg"
                                 alt=""
                            >
                        </a>
                        <h3 class="teachers-preview__name">
                            <a class="link link--inherit" href="#">Ирина Михайловна Храпова</a>
                        </h3>
                        <div class="teachers-preview__bio">
                            Преподаватель русского языка. Окончила МГУП с красным дипломом. Более двадцати лет преподаёт в высшей школе.
                        </div>
                        <div class="teachers-preview__menu">
                            <div class="teachers-preview__action">
                                <a class="dash" href="#">
                                    <span class="dash__label">Отзывы</span>
                                    <img class="dash__icon dash__icon--right" src="../symbols/arrow-right.svg" width="20" height="20" alt="">
                                </a>
                            </div>
                            <div class="teachers-preview__action">
                                <a class="dash" href="#">
                                    <span class="dash__label">Курсы преподавателя</span>
                                    <img class="dash__icon dash__icon--right" src="../symbols/arrow-right.svg" width="20" height="20" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="teachers-preview__item">
                        <a class="teachers-preview__preview circle" href="#">
                            <img class="circle__photo"
                                 width="138"
                                 height="138"
                                 srcset="../temp/circle-photo@2x.jpg"
                                 src="../temp/circle-photo.jpg"
                                 alt=""
                            >
                        </a>
                        <h3 class="teachers-preview__name">
                            <a class="link link--inherit" href="#">Анна Георгиевна Малкова</a>
                        </h3>
                        <div class="teachers-preview__bio">
                            Преподаватель математики со стажем более 25 лет. Учредитель и директор компании ЕГЭ-Студия. Автор видеокурса по математике для подготовки к ЕГЭ. Автор книг «ЕГЭ по математике.
                        </div>
                        <div class="teachers-preview__menu">
                            <div class="teachers-preview__action">
                                <a class="dash" href="#">
                                    <span class="dash__label">Отзывы</span>
                                    <img class="dash__icon dash__icon--right" src="../symbols/arrow-right.svg" width="20" height="20" alt="">
                                </a>
                            </div>
                            <div class="teachers-preview__action">
                                <a class="dash" href="#">
                                    <span class="dash__label">Курсы преподавателя</span>
                                    <img class="dash__icon dash__icon--right" src="../symbols/arrow-right.svg" width="20" height="20" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="teachers-preview__footer">
                <a class="teachers-preview__more dash" href="#">
                    <span class="dash__label">Все преподаватели</span>
                    <img class="dash__icon dash__icon--right" src="../symbols/arrow-right.svg" width="20" height="20" alt="">
                </a>
            </div>
        </section>
        <section class="stats">
            <div class="stats__wrap container">
                <h2 class="stats__heading">
                    Немного цифр
                </h2>
                <div class="slideshow slideshow--stats">
                    <div class="slideshow__content">
                        <div class="slideshow__item slideshow__item--current">
                            Более 300 000 человек в месяц используют наши материалы
                        </div>
                        <div class="slideshow__item">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aut dignissimos eum harum illo, maiores nam neque non
                        </div>
                        <div class="slideshow__item">
                            Eveniet iste officia quisquam quos repellat sit tenetur totam ut vel voluptatibus
                        </div>
                        <div class="slideshow__item">
                            Optio quidem, ratione similique ut. A accusantium animi aspernatur blanditiis cum, deleniti
                        </div>
                    </div>
                    <div class="slideshow__navigation">
                        <button class="slideshow__dot slideshow__dot--current" type="button">Слайд №1</button>
                        <button class="slideshow__dot" type="button">Слайд №2</button>
                        <button class="slideshow__dot" type="button">Слайд №3</button>
                        <button class="slideshow__dot" type="button">Слайд №4</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature feature--top">
            <div class="feature__wrap container">
                <div class="feature__preview">
                    <div class="feature__pic">
                        <img class="feature__image" src="../temp/feature-a.jpg" width="543" height="335" alt="">
                    </div>
                </div>
                <div class="feature__content">
                    <div class="feature__prefix">
                        День открытых дверей
                    </div>
                    <h2 class="feature__heading">
                        Посетите Центр подготовки к ЕГЭ
                        в&nbsp;день открытых дверей
                    </h2>
                    <div class="feature__description">
                        Мы протестируем учащегося в формате ОГЭ/ЕГЭ, чтобы понять уровень подготовки к экзамену на данный момент. Также вы получите полноценную консультацию преподавателя самого высокого уровня. Мы приглашаем детей посетить пробные занятия в группах, чтобы ребенок смог сам выбрать преподавателя, с которым он бы хотел заниматься.
                    </div>
                    <div class="feature__menu">
                        <div class="feature__action">
                            <a class="button button--border" href="#">
                                Подробнее о дне открытых<br class="feature__line-break"> дверей →
                            </a>
                        </div>
                        <div class="feature__action">
                            <a class="button button--border" href="#">
                                Посетить центр →
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="feature">
            <div class="feature__wrap container">
                <div class="feature__preview">
                    <div class="feature__pic">
                        <img class="feature__image" src="../temp/feature-a.jpg" width="543" height="335" alt="">
                    </div>
                </div>
                <div class="feature__content">
                    <div class="feature__prefix">
                        О центре
                    </div>
                    <h2 class="feature__heading">
                        «ЕГЭ-Студия» – лидер в&nbsp;области подготовки к&nbsp;ЕГЭ и&nbsp;поступления в&nbsp;ВУЗы
                    </h2>
                    <div class="feature__description">
                        Мы — профессионалы. Мы хотим, чтобы профессионалов в России стало больше. Наша миссия – качественное и доступное образование для школьников России и других стран. Мы ведем набор в новые группы в течение всего учебного года.
                    </div>
                    <div class="feature__menu">
                        <div class="feature__action">
                            <a class="button button--border" href="#">
                                Подробнее о центре →
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="contacts-preview">
            <div class="contacts-preview__wrap container">
                <div class="contacts-preview__callback">
                    <h2 class="contacts-preview__heading">
                        Оставьте заявку –
                        мы вам перезвоним!
                    </h2>
                    <form class="contacts-preview__form">
                        <div class="contacts-preview__field input">
                            <input class="input__widget" type="text" placeholder="Фамилия и имя *">
                        </div>
                        <div class="contacts-preview__field input">
                            <input class="input__widget" type="text" placeholder="Телефон">
                        </div>
                        <div class="contacts-preview__interest">
                            <div class="contacts-preview__interest-label">
                                Меня интересуют:
                            </div>
                            <div class="contacts-preview__interest-courses">
                                <label class="choice choice--checkbox">
                                    <input class="choice__widget" type="checkbox">
                                    <i class="choice__icon" role="presentation"></i>
                                    <span class="choice__label">Очные курсы</span>
                                </label>
                                <label class="choice choice--checkbox">
                                    <input class="choice__widget" type="checkbox">
                                    <i class="choice__icon" role="presentation"></i>
                                    <span class="choice__label">Онлайн-курсы</span>
                                </label>
                                <label class="choice choice--checkbox">
                                    <input class="choice__widget" type="checkbox">
                                    <i class="choice__icon" role="presentation"></i>
                                    <span class="choice__label">Другое</span>
                                </label>
                            </div>
                        </div>
                        <label class="contacts-preview__agreement choice choice--checkbox">
                            <input class="choice__widget" type="checkbox">
                            <i class="choice__icon" role="presentation"></i>
                            <span class="choice__label">Даю согласие на обработку персональных данных</span>
                        </label>
                        <button class="contacts-preview__submit button" type="submit">
                            Отправить заявку
                        </button>
                    </form>
                </div>
                <div class="contacts-preview__to-call">
                    <div class="contacts-preview__channel">
                        <div class="contacts-preview__label">
                            Звоните! Бесплатно по РФ
                        </div>
                        <div class="contacts-preview__number">
                            <a class="link link--fake" href="tel:+78007750682">8 (800) 775-06-82</a>
                        </div>
                    </div>
                    <div class="contacts-preview__channel">
                        <div class="contacts-preview__label">
                            Телефон в Москве
                        </div>
                        <div class="contacts-preview__number">
                            <a class="link link--fake" href="tel:+74959840927P1">8 (495) 984 09 27 (доб.&nbsp;1)</a>
                        </div>
                    </div>
                    <div class="contacts-preview__body wysiwyg">
                        <ul class="list">
                            <li class="list__item">Средний балл на ЕГЭ 2020: математика - 83 балла, русский язык - 88 баллов, обществознание - 86 баллов.</li>
                            <li class="list__item">Записывайтесь заранее! Количество мест в группах ограничено.</li>
                            <li class="list__item">Проконсультируем по вопросам поступления в вузы, проведем бесплатную профессиональную ориентацию и проконсультируем по экзаменам ЕГЭ.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="center container">
            <h2 class="center__heading">
                Центр подготовки к ЕГЭ
            </h2>
            <div class="center__description">
                Вам нужен центр подготовки к ЕГЭ, чтобы гарантированно поступить в ВУЗ? Мы поможем вам. Ежегодно 100 % наших учеников поступают в ведущие ВУЗы страны: МГУ, МГИМО, МФТИ, ВШЭ, ФА и другие. Обратившись к нам – вы обязательно станете одним из тех, чьими результатами мы гордимся. Качественная подготовка к ЕГЭ – непростая задача. Мы помогаем сохранить время, деньги и положительные эмоции! Ваша подготовка к экзамену в нашем центре подготовки к ЕГЭ станет первым успешным шагом в большую жизнь.
            </div>
            <div class="center__more">
                <a class="link" href="#">Показать больше</a>
            </div>
        </section>
        <footer class="footer">
            <div class="footer__wrap container container--wild">
                <div class="footer__column footer__column--summary">
                    <div class="footer__emblem logo">
                        Logo
                    </div>
                    <button class="footer__handler footer__handler--info" type="button">
                        Информация
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Свидетельства</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Политика конфиденциальности</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Оферта</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Условия использования видеокурсов</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Технические условия</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Для франчайзи</a>
                        </div>
                    </div>
                    <div class="footer__social media">
                        <a class="media__item" href="#">
                            <img class="media__icon" src="../symbols/media-vk.svg" width="28" height="28" alt="">
                        </a>
                        <a class="media__item" href="#">
                            <img class="media__icon" src="../symbols/media-instagram.svg" width="28" height="28" alt="">
                        </a>
                    </div>
                    <div class="footer__copyright">
                        © ЕГЭ-Студия, 2008–2022
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">О центре</button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">О центре</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Наши преподаватели</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Отзывы</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Новости</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">История центра</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">День открытых дверей</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Благотворительность</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Вакансии в центре</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Контакты</a>
                        </div>
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">
                        Курсы
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по математике</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по русскому языку</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по обществознанию</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по литературе</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по физике</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по информатике</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по химии</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по истории</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по биологии</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по английскому языку</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Все курсы</a>
                        </div>
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">
                        Форматы обучения
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Очные курсы в Москве</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Онлайн-курсы в прямом эфире</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы в записи</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Летние очные курсы</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Все курсы</a>
                        </div>
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">
                        Бесплатные материалы
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Учебники</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Справочные материалы</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Пробные ЕГЭ</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Пробные ОГЭ</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Все бесплатные материалы</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../scripts/_footer.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_slideshow.js"></script>

    </body>
</html>
