<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ege Study</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
            <div class="browserupgrade">
                Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
                Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
            </div>
        <![endif]-->
        <header class="header">
            <div class="nav">

            </div>
            <div class="header__bar">

            </div>
            <div class="info">

            </div>
        </header>
        <div class="intro">
            <div class="intro__wrap container">
                <div class="intro__inner">
                    <h1 class="intro__heading">
                        Благотворительность
                    </h1>
                    <div class="intro__description wysiwyg wysiwyg--smaller-on-smartphone">
                        Мы - команда ЕГЭ-Студии - хотим, чтобы каждый школьник нашей страны мог получить качественное образование независимо от того, где он живет и сколько зарабатывают его родители. Каждый год мы зачисляем бесплатно на наши Онлайн-курсы по математике, русскому, физике и информатике более 150 человек. Это победители наших пробных ЕГЭ, призеры конкурсов, которые мы проводим в нашей группе ВКонтакте, школьники с инвалидностью, ребята из детских домов и малообеспеченных семей. Если вам нужна такая помощь, заполните заявку ниже.
                    </div>
                </div>
            </div>
        </div>
        <form class="charity container">
            <div class="charity__inner">
                <h2 class="charity__heading">
                    Заявка на бесплатное обучение на одном из онлайн-курсов по математике, русскому языку, физике или информатике.
                </h2>
                <div class="charity__description wysiwyg wysiwyg--smaller-on-smartphone">
                    Не упустите возможность отлично подготовиться к ЕГЭ и поступить в вуз. Заполните форму ниже.
                </div>
                <div class="charity__form">
                    <div class="charity__field input">
                        <input class="input__widget" type="text" placeholder="Ваше имя и фамилия *">
                    </div>
                    <div class="charity__field input">
                        <input class="input__widget" type="text" placeholder="Ваша электронная почта *">
                    </div>
                    <div class="charity__field input">
                        <input class="input__widget" type="text" placeholder="Я поступаю в... *">
                    </div>
                    <div class="charity__field input input--area">
                        <textarea class="input__widget" rows="12" placeholder="Расскажите, кем хотите стать и какие цели ставите перед собой. Как обучение на онлайн-курсе поможет вам в достижении ваших целей?"></textarea>
                        <div class="input__hint">Осталось 2 000 знаков</div>
                    </div>
                    <label class="charity__agreement choice choice--checkbox">
                        <input class="choice__widget" type="checkbox">
                        <i class="choice__icon" role="presentation"></i>
                        <span class="choice__label">Даю согласие на <a class="link link--classic-text" href="#">обработку персональных данных</a></span>
                    </label>
                    <button class="charity__submit button" type="button">
                        Отправить заявку
                    </button>
                </div>
            </div>
        </form>
        <footer class="footer">
            <div class="footer__wrap container container--wild">
                <div class="footer__column footer__column--summary">
                    <div class="footer__emblem logo">
                        Logo
                    </div>
                    <button class="footer__handler footer__handler--info" type="button">
                        Информация
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Свидетельства</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Политика конфиденциальности</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Оферта</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Условия использования видеокурсов</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Технические условия</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Для франчайзи</a>
                        </div>
                    </div>
                    <div class="footer__social media">
                        <a class="media__item" href="#">
                            <img class="media__icon" src="../symbols/media-vk.svg" width="28" height="28" alt="">
                        </a>
                        <a class="media__item" href="#">
                            <img class="media__icon" src="../symbols/media-instagram.svg" width="28" height="28" alt="">
                        </a>
                    </div>
                    <div class="footer__copyright">
                        © ЕГЭ-Студия, 2008–2022
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">О центре</button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">О центре</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Наши преподаватели</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Отзывы</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Новости</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">История центра</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">День открытых дверей</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Благотворительность</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Вакансии в центре</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Контакты</a>
                        </div>
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">
                        Курсы
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по математике</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по русскому языку</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по обществознанию</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по литературе</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по физике</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по информатике</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по химии</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по истории</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по биологии</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по английскому языку</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Все курсы</a>
                        </div>
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">
                        Форматы обучения
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Очные курсы в Москве</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Онлайн-курсы в прямом эфире</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы в записи</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Летние очные курсы</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Все курсы</a>
                        </div>
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">
                        Бесплатные материалы
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Учебники</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Справочные материалы</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Пробные ЕГЭ</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Пробные ОГЭ</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Все бесплатные материалы</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_footer.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_slideshow.js"></script>
        <script src="../scripts/_courses.js"></script>
        <script src="../scripts/_program.js"></script>
        <script src="../scripts/_single-course.js"></script>
        <script src="../scripts/_jobs.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_accordion.js"></script>
        <script src="../scripts/_collapse.js"></script>

    </body>
</html>
