<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ege Study</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
            <div class="browserupgrade">
                Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
                Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
            </div>
        <![endif]-->
        <header class="header">
            <div class="menu">

            </div>
            <div class="header__bar">

            </div>
            <div class="info">

            </div>
        </header>
        <div class="intro">
            <div class="intro__wrap container">
                <div class="intro__inner">
                    <h1 class="intro__heading">
                        Контакты
                    </h1>
                </div>
            </div>
        </div>
        <div class="contacts container">
            <nav class="contacts__nav hide-scrollbar">
                <div class="contacts__ribbon">
                    <a class="contacts__link contacts__link--current" href="#">Москва</a>
                    <a class="contacts__link" href="#">Орел</a>
                    <a class="contacts__link" href="#">Чебоксары</a>
                    <a class="contacts__link" href="#">Ивантеевка</a>
                    <a class="contacts__link" href="#">Наб. Челны</a>
                </div>
            </nav>
            <div class="contacts__body">
                <div class="contacts__data">
                    <div class="contacts__section">
                        <h2 class="contacts__sub-heading">
                            Адрес
                        </h2>
                        <div class="contacts__widget">
                            107031, Москва, Петровский бульвар 15, стр. 1, 5 этаж
                        </div>
                    </div>
                    <div class="contacts__section">
                        <h2 class="contacts__sub-heading">
                            Телефоны
                        </h2>
                        <div class="contacts__widget">
                            <a class="link link--fake" href="tel:+78007750682">8 (800) 775-06-82</a><br>
                            <a class="link link--fake" href="tel:+74959840927">+7 (495) 984-09-27</a>
                        </div>
                    </div>
                    <div class="contacts__section">
                        <h2 class="contacts__sub-heading">
                            Время работы офиса
                        </h2>
                        <div class="contacts__widget">
                            с 10:00 до 18:00 по будням
                        </div>
                    </div>
                    <div class="contacts__section">
                        <h2 class="contacts__sub-heading">
                            Почта
                        </h2>
                        <div class="contacts__widget">
                            <div class="contacts__channel">
                                Общие вопросы и техническая поддержка<br>
                                <a class="link" href="mailto:help@ege-study.ru">help@ege-study.ru</a>
                            </div>
                            <div class="contacts__channel">
                                Вакансии<br>
                                <a class="link" href="mailto:admin@ege-study.ru">admin@ege-study.ru</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contacts__map">
                    <!-- temp -->
                    <div style="height: 100%; background: purple; color: white; display: flex; align-items: center; justify-content: center;">Карта 100% х 100%</div>
                    <!--/temp -->
                </div>
            </div>
        </div>
        <section class="way">
            <div class="way__wrap container">
                <h2 class="way__heading">
                    Как нас найти
                </h2>
                <div class="way__list">
                    <div class="way__step">
                        <a class="way__preview" href="#">
                            <img class="way__image"
                                 srcset="../temp/way-2@2x.jpg 2x"
                                 src="../temp/way-2.jpg"
                                 width="475"
                                 height="316"
                                 alt=""
                            >
                        </a>
                        <div class="way__description">
                            Справа от хода вы увидите наш логотип.
                        </div>
                    </div>
                    <div class="way__step">
                        <a class="way__preview" href="#">
                            <img class="way__image"
                                 srcset="../temp/way-1@2x.jpg 2x"
                                 src="../temp/way-1.jpg"
                                 width="475"
                                 height="316"
                                 alt=""
                            >
                        </a>
                        <div class="way__description">
                            Поднимайтесь по лестнице на 5 этаж.
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="footer__wrap container container--wild">
                <div class="footer__column footer__column--summary">
                    <div class="footer__emblem logo">
                        Logo
                    </div>
                    <button class="footer__handler footer__handler--info" type="button">
                        Информация
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Свидетельства</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Политика конфиденциальности</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Оферта</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Условия использования видеокурсов</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Технические условия</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Для франчайзи</a>
                        </div>
                    </div>
                    <div class="footer__social media">
                        <a class="media__item" href="#">
                            <img class="media__icon" src="../symbols/media-vk.svg" width="28" height="28" alt="">
                        </a>
                        <a class="media__item" href="#">
                            <img class="media__icon" src="../symbols/media-instagram.svg" width="28" height="28" alt="">
                        </a>
                    </div>
                    <div class="footer__copyright">
                        © ЕГЭ-Студия, 2008–2022
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">О центре</button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">О центре</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Наши преподаватели</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Отзывы</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Новости</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">История центра</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">День открытых дверей</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Благотворительность</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Вакансии в центре</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Контакты</a>
                        </div>
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">
                        Курсы
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по математике</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по русскому языку</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по обществознанию</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по литературе</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по физике</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по информатике</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по химии</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по истории</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по биологии</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по английскому языку</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Все курсы</a>
                        </div>
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">
                        Форматы обучения
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Очные курсы в Москве</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Онлайн-курсы в прямом эфире</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы в записи</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Летние очные курсы</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Все курсы</a>
                        </div>
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">
                        Бесплатные материалы
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Учебники</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Справочные материалы</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Пробные ЕГЭ</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Пробные ОГЭ</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Все бесплатные материалы</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_footer.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_slideshow.js"></script>
        <script src="../scripts/_courses.js"></script>
        <script src="../scripts/_program.js"></script>
        <script src="../scripts/_single-course.js"></script>
        <script src="../scripts/_jobs.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_accordion.js"></script>
        <script src="../scripts/_collapse.js"></script>

    </body>
</html>
