<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ege Study</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
            <div class="browserupgrade">
                Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
                Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
            </div>
        <![endif]-->

        <div class="jumbotron container">
            <div class="jumbotron__content">
                <h1 class="jumbotron__heading">
                    Подготовься к ЕГЭ с нами – и поступи в ВУЗ мечты гарантированно
                </h1>
                <div class="jumbotron__description">
                    Ежегодно 100% наших учеников поступают в ведущие ВУЗы страны: МГУ, МГИМО, МФТИ, ВШЭ, ФА и другие.
                </div>
            </div>
            <div class="jumbotron__preview">

            </div>
        </div>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../scripts/temp.js"></script>

    </body>
</html>
