<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ege Study</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
            <div class="browserupgrade">
                Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
                Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
            </div>
        <![endif]-->
        <header class="header">
            <div class="header__menu">

            </div>
            <div class="header__bar">

            </div>
            <div class="header__info">

            </div>
        </header>
        <div class="intro">
            <div class="intro__wrap container">
                <div class="intro__inner">
                    <h1 class="intro__heading">
                        Вакансии в «ЕГЭ-Студия»
                    </h1>
                    <div class="intro__description wysiwyg wysiwyg--smaller-on-smartphone">
                        Компания «ЕГЭ-Студия» активно развивается. Мы приглашаем к сотрудничеству только лучших! Работа в ЕГЭ-Студии — это возможность выйти на принципиально иной профессиональный уровень. Профессиональное общение. Сильные ученики, сдающие на 100 баллов. Известность. Сотрудничество с крупными издательствами и телеканалами. Вы можете потратить 10 лет жизни, давая индивидуальные уроки, но так и не достигнете того, что у нас получите за год. Выбор за вами.
                    </div>
                </div>
            </div>
        </div>
        <div class="jobs container">
            <div class="jobs__item">
                <h2 class="jobs__heading-wrap">
                    <button class="jobs__handler" type="button">
                        <span class="jobs__location">
                            Москва
                        </span>
                        <span class="jobs__heading">
                            Ведущий онлайн-курса по математике
                        </span>
                    </button>
                </h2>
                <div class="jobs__dropdown">
                    <div class="jobs__text wysiwyg">
                        <h3>
                            Описание
                        </h3>
                        <p>
                            ЕГЭ-Студия приглашает на постоянную работу ведущих онлайн-курсов по обществознанию, химии, биологии.
                        </p>
                        <h3>
                            Обязанности
                        </h3>
                        <ul>
                            <li>проведение онлайн-трансляций курса подготовки к ЕГЭ по вашему предмету,</li>
                            <li>ответы на вопросы учеников онлайн-курса.</li>
                        </ul>
                        <h3>
                            Требования
                        </h3>
                        <ul>
                            <li>высшее образование, педагогическое или с профильным уклоном.</li>
                            <li>Мы ведем трансляции из нашей Студии на Петровском бульваре, Москва.</li>
                            <li>Отличное знание программы ЕГЭ по вашему предмету. Опыт решения большого количества заданий экзамена.</li>
                            <li>опыт работы по подготовке к ЕГЭ как репетитора или педагога - не менее 5 лет</li>
                            <li>Собственные методические материалы. Готовые подборки заданий ЕГЭ</li>
                            <li>Чувство юмора и оптимизм. Энергия, Хорошая дикция.</li>
                            <li>грамотная устная и письменная речь, умение формулировать сложное простыми словами.</li>
                            <li>Желание учиться и развиваться.</li>
                        </ul>
                        <h3>
                            Условия
                        </h3>
                        <ul>
                            <li>Трансляции 1 раз в неделю,</li>
                            <li>возможно проведение стримов на Ютьюбе и запись видеоматериалов.</li>
                            <li>Начало регулярной работы: август-сентябрь 2021 года</li>
                        </ul>
                        <h3>
                            Как устроиться к нам на работу?
                        </h3>
                        <p>
                            Заполните форму. Лучше всего, если вмете с резюме пришлете видеоролик, где вы рассказываете какую-нибудь интересную тему по вашему предмету. Видео можно снять дома на айфон.
                        </p>
                    </div>
                    <a class="jobs__submit button" href="#">
                        Откликнуться на вакансию
                    </a>
                </div>
            </div>
            <div class="jobs__item">
                <h2 class="jobs__heading-wrap">
                    <button class="jobs__handler" type="button">
                        <span class="jobs__location">
                            Орёл
                        </span>
                        <span class="jobs__heading">
                            Ведущий онлайн-курсов по обществознанию, химии, биологии
                        </span>
                    </button>
                </h2>
                <div class="jobs__dropdown">
                    <div class="jobs__text wysiwyg">
                        <h3>
                            Описание
                        </h3>
                        <p>
                            ЕГЭ-Студия приглашает на постоянную работу ведущих онлайн-курсов по обществознанию, химии, биологии.
                        </p>
                        <h3>
                            Обязанности
                        </h3>
                        <ul>
                            <li>проведение онлайн-трансляций курса подготовки к ЕГЭ по вашему предмету,</li>
                            <li>ответы на вопросы учеников онлайн-курса.</li>
                        </ul>
                        <h3>
                            Требования
                        </h3>
                        <ul>
                            <li>высшее образование, педагогическое или с профильным уклоном.</li>
                            <li>Мы ведем трансляции из нашей Студии на Петровском бульваре, Москва.</li>
                            <li>Отличное знание программы ЕГЭ по вашему предмету. Опыт решения большого количества заданий экзамена.</li>
                            <li>опыт работы по подготовке к ЕГЭ как репетитора или педагога - не менее 5 лет</li>
                            <li>Собственные методические материалы. Готовые подборки заданий ЕГЭ</li>
                            <li>Чувство юмора и оптимизм. Энергия, Хорошая дикция.</li>
                            <li>грамотная устная и письменная речь, умение формулировать сложное простыми словами.</li>
                            <li>Желание учиться и развиваться.</li>
                        </ul>
                        <h3>
                            Условия
                        </h3>
                        <ul>
                            <li>Трансляции 1 раз в неделю,</li>
                            <li>возможно проведение стримов на Ютьюбе и запись видеоматериалов.</li>
                            <li>Начало регулярной работы: август-сентябрь 2021 года</li>
                        </ul>
                        <h3>
                            Как устроиться к нам на работу?
                        </h3>
                        <p>
                            Заполните форму. Лучше всего, если вмете с резюме пришлете видеоролик, где вы рассказываете какую-нибудь интересную тему по вашему предмету. Видео можно снять дома на айфон.
                        </p>
                    </div>
                    <a class="jobs__submit button" href="#">
                        Откликнуться на вакансию
                    </a>
                </div>
            </div>
            <div class="jobs__item">
                <h2 class="jobs__heading-wrap">
                    <button class="jobs__handler" type="button">
                        <span class="jobs__location">
                            Удалённо
                        </span>
                        <span class="jobs__heading">
                            Преподаватель (занятия в мини-группе)
                        </span>
                    </button>
                </h2>
                <div class="jobs__dropdown">
                    <div class="jobs__text wysiwyg">
                        <h3>
                            Описание
                        </h3>
                        <p>
                            ЕГЭ-Студия приглашает на постоянную работу ведущих онлайн-курсов по обществознанию, химии, биологии.
                        </p>
                        <h3>
                            Обязанности
                        </h3>
                        <ul>
                            <li>проведение онлайн-трансляций курса подготовки к ЕГЭ по вашему предмету,</li>
                            <li>ответы на вопросы учеников онлайн-курса.</li>
                        </ul>
                        <h3>
                            Требования
                        </h3>
                        <ul>
                            <li>высшее образование, педагогическое или с профильным уклоном.</li>
                            <li>Мы ведем трансляции из нашей Студии на Петровском бульваре, Москва.</li>
                            <li>Отличное знание программы ЕГЭ по вашему предмету. Опыт решения большого количества заданий экзамена.</li>
                            <li>опыт работы по подготовке к ЕГЭ как репетитора или педагога - не менее 5 лет</li>
                            <li>Собственные методические материалы. Готовые подборки заданий ЕГЭ</li>
                            <li>Чувство юмора и оптимизм. Энергия, Хорошая дикция.</li>
                            <li>грамотная устная и письменная речь, умение формулировать сложное простыми словами.</li>
                            <li>Желание учиться и развиваться.</li>
                        </ul>
                        <h3>
                            Условия
                        </h3>
                        <ul>
                            <li>Трансляции 1 раз в неделю,</li>
                            <li>возможно проведение стримов на Ютьюбе и запись видеоматериалов.</li>
                            <li>Начало регулярной работы: август-сентябрь 2021 года</li>
                        </ul>
                        <h3>
                            Как устроиться к нам на работу?
                        </h3>
                        <p>
                            Заполните форму. Лучше всего, если вмете с резюме пришлете видеоролик, где вы рассказываете какую-нибудь интересную тему по вашему предмету. Видео можно снять дома на айфон.
                        </p>
                    </div>
                    <a class="jobs__submit button" href="#">
                        Откликнуться на вакансию
                    </a>
                </div>
            </div>
            <div class="jobs__item">
                <h2 class="jobs__heading-wrap">
                    <button class="jobs__handler" type="button">
                        <span class="jobs__location">
                            Удалённо
                        </span>
                        <span class="jobs__heading">
                            Автор статей
                        </span>
                    </button>
                </h2>
                <div class="jobs__dropdown">
                    <div class="jobs__text wysiwyg">
                        <h3>
                            Описание
                        </h3>
                        <p>
                            ЕГЭ-Студия приглашает на постоянную работу ведущих онлайн-курсов по обществознанию, химии, биологии.
                        </p>
                        <h3>
                            Обязанности
                        </h3>
                        <ul>
                            <li>проведение онлайн-трансляций курса подготовки к ЕГЭ по вашему предмету,</li>
                            <li>ответы на вопросы учеников онлайн-курса.</li>
                        </ul>
                        <h3>
                            Требования
                        </h3>
                        <ul>
                            <li>высшее образование, педагогическое или с профильным уклоном.</li>
                            <li>Мы ведем трансляции из нашей Студии на Петровском бульваре, Москва.</li>
                            <li>Отличное знание программы ЕГЭ по вашему предмету. Опыт решения большого количества заданий экзамена.</li>
                            <li>опыт работы по подготовке к ЕГЭ как репетитора или педагога - не менее 5 лет</li>
                            <li>Собственные методические материалы. Готовые подборки заданий ЕГЭ</li>
                            <li>Чувство юмора и оптимизм. Энергия, Хорошая дикция.</li>
                            <li>грамотная устная и письменная речь, умение формулировать сложное простыми словами.</li>
                            <li>Желание учиться и развиваться.</li>
                        </ul>
                        <h3>
                            Условия
                        </h3>
                        <ul>
                            <li>Трансляции 1 раз в неделю,</li>
                            <li>возможно проведение стримов на Ютьюбе и запись видеоматериалов.</li>
                            <li>Начало регулярной работы: август-сентябрь 2021 года</li>
                        </ul>
                        <h3>
                            Как устроиться к нам на работу?
                        </h3>
                        <p>
                            Заполните форму. Лучше всего, если вмете с резюме пришлете видеоролик, где вы рассказываете какую-нибудь интересную тему по вашему предмету. Видео можно снять дома на айфон.
                        </p>
                    </div>
                    <a class="jobs__submit button" href="#">
                        Откликнуться на вакансию
                    </a>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="footer__wrap container container--wild">
                <div class="footer__column footer__column--summary">
                    <div class="footer__emblem logo">
                        Logo
                    </div>
                    <button class="footer__handler footer__handler--info" type="button">
                        Информация
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Свидетельства</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Политика конфиденциальности</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Оферта</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Условия использования видеокурсов</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Технические условия</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Для франчайзи</a>
                        </div>
                    </div>
                    <div class="footer__social media">
                        <a class="media__item" href="#">
                            <img class="media__icon" src="../symbols/media-vk.svg" width="28" height="28" alt="">
                        </a>
                        <a class="media__item" href="#">
                            <img class="media__icon" src="../symbols/media-instagram.svg" width="28" height="28" alt="">
                        </a>
                    </div>
                    <div class="footer__copyright">
                        © ЕГЭ-Студия, 2008–2022
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">О центре</button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">О центре</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Наши преподаватели</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Отзывы</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Новости</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">История центра</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">День открытых дверей</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Благотворительность</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Вакансии в центре</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Контакты</a>
                        </div>
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">
                        Курсы
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по математике</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по русскому языку</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по обществознанию</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по литературе</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по физике</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по информатике</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по химии</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по истории</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по биологии</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по английскому языку</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Все курсы</a>
                        </div>
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">
                        Форматы обучения
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Очные курсы в Москве</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Онлайн-курсы в прямом эфире</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы в записи</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Летние очные курсы</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Все курсы</a>
                        </div>
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">
                        Бесплатные материалы
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Учебники</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Справочные материалы</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Пробные ЕГЭ</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Пробные ОГЭ</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Все бесплатные материалы</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../scripts/_footer.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_slideshow.js"></script>
        <script src="../scripts/_courses.js"></script>
        <script src="../scripts/_program.js"></script>
        <script src="../scripts/_single-course.js"></script>
        <script src="../scripts/_jobs.js"></script>

    </body>
</html>
