<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ege Study</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
            <div class="browserupgrade">
                Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
                Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
            </div>
        <![endif]-->
        <header class="header">
            <div class="nav">

            </div>
            <div class="header__bar">

            </div>
            <div class="info">

            </div>
        </header>
        <div class="page">
            <div class="breadcrumbs container">
                <div class="breadcrumbs__item">
                    <a class="link" href="#">Главная</a>
                </div>
                <div class="breadcrumbs__item">
                    <a class="link" href="#">Бесплатные материалы</a>
                </div>
                <div class="breadcrumbs__item">
                    <a class="link" href="#">Учебники</a>
                </div>
            </div>
            <div class="lesson container">
                <b class="lesson__heading">
                    Учебник <span class="addition">Физика</span>
                </b>
                <div class="lesson__description">
                    Авторы материалов по физике — Игорь Вячеславович Яковлев, профессиональный репетитор по физике и математике. Авторы материалов по физике — Игорь Вячеславович Яковлев. Авторы материалов по физике — Игорь Вячеславович Яковлев, профессиональный репетитор по физике и математике.
                </div>
                <div class="lesson__body">
                    <div class="lesson__sidebar">
                        <b class="lesson__sub-heading">
                            Разделы
                        </b>
                        <div class="lesson__navigation">
                            <div class="collapse">
                                <button class="collapse__handler" type="button">
                                    Разделы
                                </button>
                                <nav class="collapse__dropdown">
                                    <div class="accordion">
                                        <div class="accordion__item">
                                            <button class="accordion__handler" type="button">
                                                Об учебнике
                                            </button>
                                            <div class="accordion__dropdown">
                                                <a class="accordion__link" href="#">Механическое движение</a>
                                                <a class="accordion__link" href="#">Равномерное прямолинейное движение</a>
                                                <a class="accordion__link" href="#">Равноускоренное движение</a>
                                                <a class="accordion__link" href="#">Путь при неравномерном движении</a>
                                                <a class="accordion__link" href="#">Первый закон Ньютона</a>
                                                <a class="accordion__link" href="#">Масса и плотность</a>
                                                <a class="accordion__link" href="#">Второй и третий законы Ньютона</a>
                                                <a class="accordion__link" href="#">Сила упругости</a>
                                                <a class="accordion__link" href="#">Сила тяготения</a>
                                                <a class="accordion__link" href="#">Показать все темы</a>
                                            </div>
                                        </div>
                                        <div class="accordion__item accordion__item--expanded">
                                            <button class="accordion__handler" type="button">
                                                Механика
                                            </button>
                                            <div class="accordion__dropdown">
                                                <a class="accordion__link" href="#">Механическое движение</a>
                                                <a class="accordion__link" href="#">Равномерное прямолинейное движение</a>
                                                <a class="accordion__link" href="#">Равноускоренное движение</a>
                                                <a class="accordion__link" href="#">Путь при неравномерном движении</a>
                                                <div class="accordion__item accordion__item--expanded">
                                                    <button class="accordion__handler" type="button">
                                                        Подраздел
                                                    </button>
                                                    <div class="accordion__dropdown">
                                                        <a class="accordion__link accordion__link--current" href="#">Механическое движение</a>
                                                        <a class="accordion__link accordion__link--disabled">Равномерное прямолинейное движение</a>
                                                        <a class="accordion__link accordion__link--disabled">Равноускоренное движение</a>
                                                        <a class="accordion__link accordion__link--disabled">Путь при неравномерном движении</a>
                                                        <a class="accordion__link accordion__link--disabled">Первый закон Ньютона</a>
                                                        <a class="accordion__link accordion__link--disabled">Масса и плотность</a>
                                                        <a class="accordion__link accordion__link--disabled">Второй и третий законы Ньютона</a>
                                                        <a class="accordion__link accordion__link--disabled">Сила упругости</a>
                                                        <a class="accordion__link accordion__link--disabled">Сила тяготения</a>
                                                        <a class="accordion__link accordion__link--disabled">Показать все темы</a>
                                                    </div>
                                                </div>
                                                <a class="accordion__link" href="#">Первый закон Ньютона</a>
                                                <a class="accordion__link" href="#">Масса и плотность</a>
                                                <a class="accordion__link" href="#">Второй и третий законы Ньютона</a>
                                                <a class="accordion__link" href="#">Сила упругости</a>
                                                <a class="accordion__link" href="#">Сила тяготения</a>
                                                <a class="accordion__link" href="#">Показать все темы</a>
                                            </div>
                                        </div>
                                        <div class="accordion__item">
                                            <button class="accordion__handler" type="button">
                                                Молекулярная физика и термодинамика
                                            </button>
                                            <div class="accordion__dropdown">
                                                <a class="accordion__link" href="#">Механическое движение</a>
                                                <a class="accordion__link" href="#">Равномерное прямолинейное движение</a>
                                                <a class="accordion__link" href="#">Равноускоренное движение</a>
                                                <a class="accordion__link" href="#">Путь при неравномерном движении</a>
                                                <a class="accordion__link" href="#">Первый закон Ньютона</a>
                                                <a class="accordion__link" href="#">Масса и плотность</a>
                                                <a class="accordion__link" href="#">Второй и третий законы Ньютона</a>
                                                <a class="accordion__link" href="#">Сила упругости</a>
                                                <a class="accordion__link" href="#">Сила тяготения</a>
                                                <a class="accordion__link" href="#">Показать все темы</a>
                                            </div>
                                        </div>
                                        <div class="accordion__item">
                                            <button class="accordion__handler" type="button">
                                                Теория относительности
                                            </button>
                                            <div class="accordion__dropdown">
                                                <a class="accordion__link" href="#">Механическое движение</a>
                                                <a class="accordion__link" href="#">Равномерное прямолинейное движение</a>
                                                <a class="accordion__link" href="#">Равноускоренное движение</a>
                                                <a class="accordion__link" href="#">Путь при неравномерном движении</a>
                                                <a class="accordion__link" href="#">Первый закон Ньютона</a>
                                                <a class="accordion__link" href="#">Масса и плотность</a>
                                                <a class="accordion__link" href="#">Второй и третий законы Ньютона</a>
                                                <a class="accordion__link" href="#">Сила упругости</a>
                                                <a class="accordion__link" href="#">Сила тяготения</a>
                                                <a class="accordion__link" href="#">Показать все темы</a>
                                            </div>
                                        </div>
                                        <div class="accordion__item">
                                            <button class="accordion__handler" type="button">
                                                Электродинамика
                                            </button>
                                            <div class="accordion__dropdown">
                                                <a class="accordion__link" href="#">Механическое движение</a>
                                                <a class="accordion__link" href="#">Равномерное прямолинейное движение</a>
                                                <a class="accordion__link" href="#">Равноускоренное движение</a>
                                                <a class="accordion__link" href="#">Путь при неравномерном движении</a>
                                                <a class="accordion__link" href="#">Первый закон Ньютона</a>
                                                <a class="accordion__link" href="#">Масса и плотность</a>
                                                <a class="accordion__link" href="#">Второй и третий законы Ньютона</a>
                                                <a class="accordion__link" href="#">Сила упругости</a>
                                                <a class="accordion__link" href="#">Сила тяготения</a>
                                                <a class="accordion__link" href="#">Показать все темы</a>
                                            </div>
                                        </div>
                                        <div class="accordion__item">
                                            <button class="accordion__handler" type="button">
                                                Оптика
                                            </button>
                                            <div class="accordion__dropdown">
                                                <a class="accordion__link" href="#">Механическое движение</a>
                                                <a class="accordion__link" href="#">Равномерное прямолинейное движение</a>
                                                <a class="accordion__link" href="#">Равноускоренное движение</a>
                                                <a class="accordion__link" href="#">Путь при неравномерном движении</a>
                                                <a class="accordion__link" href="#">Первый закон Ньютона</a>
                                                <a class="accordion__link" href="#">Масса и плотность</a>
                                                <a class="accordion__link" href="#">Второй и третий законы Ньютона</a>
                                                <a class="accordion__link" href="#">Сила упругости</a>
                                                <a class="accordion__link" href="#">Сила тяготения</a>
                                                <a class="accordion__link" href="#">Показать все темы</a>
                                            </div>
                                        </div>
                                        <div class="accordion__item">
                                            <button class="accordion__handler" type="button">
                                                Квантовая физика
                                            </button>
                                            <div class="accordion__dropdown">
                                                <a class="accordion__link" href="#">Механическое движение</a>
                                                <a class="accordion__link" href="#">Равномерное прямолинейное движение</a>
                                                <a class="accordion__link" href="#">Равноускоренное движение</a>
                                                <a class="accordion__link" href="#">Путь при неравномерном движении</a>
                                                <a class="accordion__link" href="#">Первый закон Ньютона</a>
                                                <a class="accordion__link" href="#">Масса и плотность</a>
                                                <a class="accordion__link" href="#">Второй и третий законы Ньютона</a>
                                                <a class="accordion__link" href="#">Сила упругости</a>
                                                <a class="accordion__link" href="#">Сила тяготения</a>
                                                <a class="accordion__link" href="#">Показать все темы</a>
                                            </div>
                                        </div>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="lesson__content">
                        <div class="lesson__inner">
                            <div class="lesson__breadcrumbs breadcrumbs breadcrumbs--inner">
                                <div class="breadcrumbs__item">
                                    <a class="link link--inherit" href="#">Механика</a>
                                </div>
                                <div class="breadcrumbs__item">
                                    <a class="link link--faded" href="#">Механическое движение</a>
                                </div>
                            </div>
                            <h1 class="lesson__main-heading">
                                Механическое движение
                            </h1>
                            <div class="lesson__table-of-contains">
                                <div class="lesson__item">
                                    <a class="link link--classic-text" href="#">Понятие движения</a>
                                </div>
                                <div class="lesson__item">
                                    <a class="link link--classic-text" href="#">Траектория, путь, перемещение</a>
                                </div>
                                <div class="lesson__item">
                                    <a class="link link--classic-text" href="#">Скорость и ускорение</a>
                                </div>
                                <div class="lesson__item">
                                    <a class="link link--classic-text" href="#">Закон сложения скоростей</a>
                                </div>
                                <div class="lesson__item">
                                    <a class="link link--classic-text" href="#">Виды механического движения</a>
                                </div>
                            </div>
                            <div class="lesson__text wysiwyg">
                                <h2>Понятие движения</h2>
                                <p>Понятие движения является чрезвычайно общим и охватывает самый широкий круг явлений. В физике изучают различные виды движения. Простейшим из них является механическое движение. Оно изучается в механике. Механическое движение — это изменение положение тела (или его частей) в пространстве относительно других тел с течением времени.</p>
                                <p>Если тело A меняет своё положение относительно тела B, то и тело B меняет своё положение относительно тела A. Иначе говоря, если тело A движется относительно тела B, то и тело B движется относительно тела A. Механическое движение является относительным — для описания движения необходимо указать, относительно какого тела оно рассматривается.</p>
                                <p>Основной задачей механики является определение положения движущегося тела в любой момент времени. Для решения этой задачи удобно представить движение тела как изменение координат его точек с течением времени. Чтобы измерить координаты, нужна система координат. Чтобы измерять время, нужны часы. Всё это вместе образует систему отсчёта.</p>
                                <img
                                        srcset="../temp/space@2x.jpg 2x"
                                        src="../temp/space.jpg"
                                        width="580"
                                        height="362"
                                        alt=""
                                >
                                <h2>Траектория, путь, перемещение</h2>
                                <p>Понятие движения является чрезвычайно общим и охватывает самый широкий круг явлений. В физике изучают различные виды движения. Простейшим из них является механическое движение. Оно изучается в механике. Механическое движение — это изменение положение тела (или его частей) в пространстве относительно других тел с течением времени.</p>
                                <p>Если тело A меняет своё положение относительно тела B, то и тело B меняет своё положение относительно тела A. Иначе говоря, если тело A движется относительно тела B, то и тело B движется относительно тела A. Механическое движение является относительным — для описания движения необходимо указать, относительно какого тела оно рассматривается.</p>
                                <p>Основной задачей механики является определение положения движущегося тела в любой момент времени. Для решения этой задачи удобно представить движение тела как изменение координат его точек с течением времени. Чтобы измерить координаты, нужна система координат. Чтобы измерять время, нужны часы. Всё это вместе образует систему отсчёта.</p>
                                <img
                                        srcset="../temp/space@2x.jpg 2x"
                                        src="../temp/space.jpg"
                                        width="580"
                                        height="362"
                                        alt=""
                                >
                            </div>
                        </div>
                        <div class="lesson__footer-navigation">
                            <a class="lesson__arrow lesson__arrow--prev" href="#">
                                <div class="lesson__hover-arrow">
                                    <div class="lesson__link">Предыдущая тема</div>
                                    <div class="lesson__linked-topic">Равномерное прямолинейное движение</div>
                                </div>
                            </a>
                            <a class="lesson__arrow lesson__arrow--next" href="#">
                                <div class="lesson__hover-arrow">
                                    <div class="lesson__link">Следующая тема</div>
                                    <div class="lesson__linked-topic">Равномерное прямолинейное движение</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <section class="contacts-preview">
                <div class="contacts-preview__wrap container">
                    <div class="contacts-preview__callback">
                        <h2 class="contacts-preview__heading">
                            Оставьте заявку —
                            мы вам перезвоним!
                        </h2>
                        <form class="contacts-preview__form">
                            <div class="contacts-preview__field input">
                                <input class="input__widget" type="text" placeholder="Фамилия и имя *">
                            </div>
                            <div class="contacts-preview__field input">
                                <input class="input__widget" type="text" placeholder="Телефон">
                            </div>
                            <div class="contacts-preview__interest">
                                <div class="contacts-preview__interest-label">
                                    Меня интересуют:
                                </div>
                                <div class="contacts-preview__interest-courses">
                                    <label class="choice choice--checkbox">
                                        <input class="choice__widget" type="checkbox">
                                        <i class="choice__icon" role="presentation"></i>
                                        <span class="choice__label">Очные курсы</span>
                                    </label>
                                    <label class="choice choice--checkbox">
                                        <input class="choice__widget" type="checkbox">
                                        <i class="choice__icon" role="presentation"></i>
                                        <span class="choice__label">Онлайн-курсы</span>
                                    </label>
                                    <label class="choice choice--checkbox">
                                        <input class="choice__widget" type="checkbox">
                                        <i class="choice__icon" role="presentation"></i>
                                        <span class="choice__label">Другое</span>
                                    </label>
                                </div>
                            </div>
                            <label class="contacts-preview__agreement choice choice--checkbox">
                                <input class="choice__widget" type="checkbox">
                                <i class="choice__icon" role="presentation"></i>
                                <span class="choice__label">Даю согласие на обработку персональных данных</span>
                            </label>
                            <button class="contacts-preview__submit button" type="submit">
                                Отправить заявку
                            </button>
                        </form>
                    </div>
                    <div class="contacts-preview__to-call">
                        <div class="contacts-preview__channel">
                            <div class="contacts-preview__label">
                                Звоните! Бесплатно по РФ
                            </div>
                            <div class="contacts-preview__number">
                                <a class="link link--fake" href="tel:+78007750682">8 (800) 775-06-82</a>
                            </div>
                        </div>
                        <div class="contacts-preview__channel">
                            <div class="contacts-preview__label">
                                Телефон в Москве
                            </div>
                            <div class="contacts-preview__number">
                                <a class="link link--fake" href="tel:+74959840927P1">8 (495) 984 09 27 (доб. 1)</a>
                            </div>
                        </div>
                        <div class="contacts-preview__body wysiwyg">
                            <ul class="list">
                                <li class="list__item">Средний балл на ЕГЭ 2020: математика — 83 балла, русский язык — 88 баллов, обществознание — 86 баллов.</li>
                                <li class="list__item">Записывайтесь заранее! Количество мест в группах ограничено.</li>
                                <li class="list__item">Проконсультируем по вопросам поступления в вузы, проведем бесплатную профессиональную ориентацию и проконсультируем по экзаменам ЕГЭ.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="center container">
                <h2 class="center__heading">
                    Центр подготовки к ЕГЭ
                </h2>
                <div class="center__description">
                    Вам нужен центр подготовки к ЕГЭ, чтобы гарантированно поступить в ВУЗ? Мы поможем вам. Ежегодно 100 % наших учеников поступают в ведущие ВУЗы страны: МГУ, МГИМО, МФТИ, ВШЭ, ФА и другие. Обратившись к нам — вы обязательно станете одним из тех, чьими результатами мы гордимся. Качественная подготовка к ЕГЭ — непростая задача. Мы помогаем сохранить время, деньги и положительные эмоции! Ваша подготовка к экзамену в нашем центре подготовки к ЕГЭ станет первым успешным шагом в большую жизнь.
                </div>
                <div class="center__more">
                    <a class="link" href="#">Показать больше</a>
                </div>
            </section>
            <footer class="footer">
                <div class="footer__wrap container container--wild">
                    <div class="footer__column footer__column--summary">
                        <div class="footer__emblem logo">
                            Logo
                        </div>
                        <button class="footer__handler footer__handler--info" type="button">
                            Информация
                        </button>
                        <div class="footer__dropdown">
                            <div class="footer__item">
                                <a class="footer__link" href="#">Свидетельства</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Политика конфиденциальности</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Оферта</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Условия использования видеокурсов</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Технические условия</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Для франчайзи</a>
                            </div>
                        </div>
                        <div class="footer__social media">
                            <a class="media__item media__item--vk" href="#">Вконтакте</a>
                            <a class="media__item media__item--instagram" href="#">Instagram</a>
                            <a class="media__item media__item--youtube" href="#">YouTube</a>
                        </div>
                        <div class="footer__copyright">
                            © ЕГЭ-Студия, 2008–2022
                        </div>
                    </div>
                    <div class="footer__column">
                        <button class="footer__handler" type="button">О центре</button>
                        <div class="footer__dropdown">
                            <div class="footer__item">
                                <a class="footer__link" href="#">О центре</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Наши преподаватели</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Отзывы</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Новости</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">История центра</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">День открытых дверей</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Благотворительность</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Вакансии в центре</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Контакты</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__column">
                        <button class="footer__handler" type="button">
                            Курсы
                        </button>
                        <div class="footer__dropdown">
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по математике</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по русскому языку</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по обществознанию</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по литературе</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по физике</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по информатике</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по химии</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по истории</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по биологии</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по английскому языку</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Все курсы</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__column">
                        <button class="footer__handler" type="button">
                            Форматы обучения
                        </button>
                        <div class="footer__dropdown">
                            <div class="footer__item">
                                <a class="footer__link" href="#">Очные курсы в Москве</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Онлайн-курсы в прямом эфире</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы в записи</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Летние очные курсы</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Все курсы</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__column">
                        <button class="footer__handler" type="button">
                            Бесплатные материалы
                        </button>
                        <div class="footer__dropdown">
                            <div class="footer__item">
                                <a class="footer__link" href="#">Учебники</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Справочные материалы</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Пробные ЕГЭ</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Пробные ОГЭ</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Все бесплатные материалы</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_footer.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_slideshow.js"></script>
        <script src="../scripts/_courses.js"></script>
        <script src="../scripts/_program.js"></script>
        <script src="../scripts/_single-course.js"></script>
        <script src="../scripts/_jobs.js"></script>
        <script src="../scripts/_mfp.js"></script>
        <script src="../scripts/_accordion.js"></script>
        <script src="../scripts/_collapse.js"></script>
        <script src="../scripts/_header.js"></script>
        <script src="../scripts/_nav.js"></script>

    </body>
</html>
