<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Ege Study</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
            <div class="browserupgrade">
                Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
                Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
            </div>
        <![endif]-->
        <header class="header">
            <div class="header__menu">

            </div>
            <div class="header__bar">

            </div>
            <div class="header__info">

            </div>
        </header>
        <div class="intro">
            <div class="intro__wrap container">
                <div class="intro__inner">
                    <h1 class="intro__heading">
                        Новости
                    </h1>
                </div>
            </div>
        </div>
        <div class="feed container">
            <div class="feed__sidebar">
                <div class="feed__detachable-area">
                    <button class="feed__filter feed__filter--current" type="button">Все новости</button>
                    <button class="feed__filter" type="button">Новости центра</button>
                    <button class="feed__filter" type="button">Акции</button>
                    <button class="feed__filter" type="button">СМИ о нас</button>
                </div>
            </div>
            <div class="feed__content">
                <div class="feed__nav">
                    <a class="dash dash--inverted-color" href="#">
                        <img class="dash__icon dash__icon--left" src="../symbols/arrow-left.svg" width="20" height="20" alt="">
                        <span class="dash__label">Все новости</span>
                    </a>
                </div>
                <article class="feed__entry">
                    <h1 class="feed__article-heading">
                        Интенсивы для подготовки к ЕГЭ по супер-ценам!
                    </h1>
                    <div class="feed__text wysiwyg">
                        <p>Едем в Москву на праздники! Лучшие интенсивы для подготовки к ЕГЭ по супер-ценам Каждый год на майские праздники мы проводим интенсивы для подготовки к самым важным ЕГЭ – по математике и русскому. Начало мая – лучше время, чтобы всё повторить, вспомнить и привести в порядок. Перед экзаменами. И увидеть, где еще остались пробелы. И устранить их.</p>
                        <h2>Что такое интенсив?</h2>
                        <p>Интенсив — это мощный рывок к высокому результату на ЕГЭ. Для многих — к 100 баллам. Интенсив — это ежедневные занятия в небольшой группе (4-8 человек). Вы сможете заниматься индивидуально с Анной Малковой и преподавателями ЕГЭ-Студии. Интенсивы проходят в Москве. Учимся по 5 часов с перерывами на чай и вкусную пиццу. Это не лекции. Преподаватель работает с вами индивидуально: проверяет ДЗ, решение и оформление заданий. Дает рекомендации, подходящие именно вам. Рассказывает о лайфхаках и ловушках экзамена. Предварительная запись обязательна.</p>
                    </div>
                    <div class="feed__tags">
                        <a class="badge badge--yellow" href="#">1 мая 2022</a>
                        <a class="badge badge--yellow" href="#">Новости центра</a>
                    </div>
                </article>
            </div>
        </div>
        <section class="contacts-preview">
            <div class="contacts-preview__wrap container">
                <div class="contacts-preview__callback">
                    <h2 class="contacts-preview__heading">
                        Оставьте заявку –
                        мы вам перезвоним!
                    </h2>
                    <form class="contacts-preview__form">
                        <div class="contacts-preview__field input">
                            <input class="input__widget" type="text" placeholder="Фамилия и имя *">
                        </div>
                        <div class="contacts-preview__field input">
                            <input class="input__widget" type="text" placeholder="Телефон">
                        </div>
                        <div class="contacts-preview__interest">
                            <div class="contacts-preview__interest-label">
                                Меня интересуют:
                            </div>
                            <div class="contacts-preview__interest-courses">
                                <label class="choice choice--checkbox">
                                    <input class="choice__widget" type="checkbox">
                                    <i class="choice__icon" role="presentation"></i>
                                    <span class="choice__label">Очные курсы</span>
                                </label>
                                <label class="choice choice--checkbox">
                                    <input class="choice__widget" type="checkbox">
                                    <i class="choice__icon" role="presentation"></i>
                                    <span class="choice__label">Онлайн-курсы</span>
                                </label>
                                <label class="choice choice--checkbox">
                                    <input class="choice__widget" type="checkbox">
                                    <i class="choice__icon" role="presentation"></i>
                                    <span class="choice__label">Другое</span>
                                </label>
                            </div>
                        </div>
                        <label class="contacts-preview__agreement choice choice--checkbox">
                            <input class="choice__widget" type="checkbox">
                            <i class="choice__icon" role="presentation"></i>
                            <span class="choice__label">Даю согласие на обработку персональных данных</span>
                        </label>
                        <button class="contacts-preview__submit button" type="submit">
                            Отправить заявку
                        </button>
                    </form>
                </div>
                <div class="contacts-preview__to-call">
                    <div class="contacts-preview__channel">
                        <div class="contacts-preview__label">
                            Звоните! Бесплатно по РФ
                        </div>
                        <div class="contacts-preview__number">
                            <a class="link link--fake" href="tel:+78007750682">8 (800) 775-06-82</a>
                        </div>
                    </div>
                    <div class="contacts-preview__channel">
                        <div class="contacts-preview__label">
                            Телефон в Москве
                        </div>
                        <div class="contacts-preview__number">
                            <a class="link link--fake" href="tel:+74959840927P1">8 (495) 984 09 27 (доб.&nbsp;1)</a>
                        </div>
                    </div>
                    <div class="contacts-preview__body wysiwyg">
                        <ul class="list">
                            <li class="list__item">Средний балл на ЕГЭ 2020: математика - 83 балла, русский язык - 88 баллов, обществознание - 86 баллов.</li>
                            <li class="list__item">Записывайтесь заранее! Количество мест в группах ограничено.</li>
                            <li class="list__item">Проконсультируем по вопросам поступления в вузы, проведем бесплатную профессиональную ориентацию и проконсультируем по экзаменам ЕГЭ.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="center container">
            <h2 class="center__heading">
                Центр подготовки к ЕГЭ
            </h2>
            <div class="center__description">
                Вам нужен центр подготовки к ЕГЭ, чтобы гарантированно поступить в ВУЗ? Мы поможем вам. Ежегодно 100 % наших учеников поступают в ведущие ВУЗы страны: МГУ, МГИМО, МФТИ, ВШЭ, ФА и другие. Обратившись к нам – вы обязательно станете одним из тех, чьими результатами мы гордимся. Качественная подготовка к ЕГЭ – непростая задача. Мы помогаем сохранить время, деньги и положительные эмоции! Ваша подготовка к экзамену в нашем центре подготовки к ЕГЭ станет первым успешным шагом в большую жизнь.
            </div>
            <div class="center__more">
                <a class="link" href="#">Показать больше</a>
            </div>
        </section>
        <footer class="footer">
            <div class="footer__wrap container container--wild">
                <div class="footer__column footer__column--summary">
                    <div class="footer__emblem logo">
                        Logo
                    </div>
                    <button class="footer__handler footer__handler--info" type="button">
                        Информация
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Свидетельства</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Политика конфиденциальности</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Оферта</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Условия использования видеокурсов</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Технические условия</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Для франчайзи</a>
                        </div>
                    </div>
                    <div class="footer__social media">
                        <a class="media__item" href="#">
                            <img class="media__icon" src="../symbols/media-vk.svg" width="28" height="28" alt="">
                        </a>
                        <a class="media__item" href="#">
                            <img class="media__icon" src="../symbols/media-instagram.svg" width="28" height="28" alt="">
                        </a>
                    </div>
                    <div class="footer__copyright">
                        © ЕГЭ-Студия, 2008–2022
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">О центре</button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">О центре</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Наши преподаватели</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Отзывы</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Новости</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">История центра</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">День открытых дверей</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Благотворительность</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Вакансии в центре</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Контакты</a>
                        </div>
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">
                        Курсы
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по математике</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по русскому языку</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по обществознанию</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по литературе</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по физике</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по информатике</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по химии</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по истории</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по биологии</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы по английскому языку</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Все курсы</a>
                        </div>
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">
                        Форматы обучения
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Очные курсы в Москве</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Онлайн-курсы в прямом эфире</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Курсы в записи</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Летние очные курсы</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Все курсы</a>
                        </div>
                    </div>
                </div>
                <div class="footer__column">
                    <button class="footer__handler" type="button">
                        Бесплатные материалы
                    </button>
                    <div class="footer__dropdown">
                        <div class="footer__item">
                            <a class="footer__link" href="#">Учебники</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Справочные материалы</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Пробные ЕГЭ</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Пробные ОГЭ</a>
                        </div>
                        <div class="footer__item">
                            <a class="footer__link" href="#">Все бесплатные материалы</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_footer.js"></script>
        <script src="../scripts/_input.js"></script>
        <script src="../scripts/_slideshow.js"></script>
        <script src="../scripts/_courses.js"></script>
        <script src="../scripts/_program.js"></script>
        <script src="../scripts/_single-course.js"></script>
        <script src="../scripts/_jobs.js"></script>
        <script src="../scripts/_mfp.js"></script>

    </body>
</html>
