.attach {

}
    .attach__handler {

    }
        .attach__handler.button,
        .attach__handler .button {
            width: 100%;
        }

    .attach__item {
        display: flex;
        align-items: flex-start;
    }
        .attach__name {
            font-size: 15px;
            line-height: 20px;
            max-width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .attach__delete {
            flex-shrink: 0;
            padding: 4px;
            margin: -4px -4px -4px 0;
            background-color: transparent;
            border: none;
            cursor: pointer;
            border-radius: 2px;
        }

        .attach__delete:hover {
            background-color: var(--panel-hover);
        }
            .attach__cross {
                vertical-align: top;
                fill: currentColor;
            }
