.bar {
    position: relative;
    height: var(--bar-laptop);
}
    .bar__detachable {
        position: fixed;
        z-index: 100;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: var(--bar-mobile-collapsed);
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: #F6EDE4;
        min-width: 320px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.2s, opacity 0.2s;
    }
        .bar__expand,
        .bar__collapse {
            display: none;
        }

        .bar__close {
            position: absolute;
            z-index: 10;
            right: 24px;
            top: 18px;
            padding: 0 0 1px;
            border: none;
            border-bottom: 1px solid transparent;
            background-color: transparent;
            display: inline-block;
            vertical-align: top;
            font-family: inherit;
            font-size: 17px;
            line-height: 22px;
            letter-spacing: 0.5px;
            opacity: 1;
            color: var(--red);
            cursor: pointer;
        }

        .bar__close:hover {
            border-bottom-color: currentColor;
        }
            .bar__close::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: -10px;
                bottom: -14px;
            }

            .bar__desktop-cross {

            }

            .bar__mobile-cross {
                display: none;
            }

        .bar__wrap {
            position: relative;
            max-width: 1440px;
        }
            .bar__heading {
                font-weight: var(--extra-bold);
                font-size: var(--body-20-font);
                line-height: var(--body-20-line);
                text-align: center;
                white-space: nowrap; /* Для залипания важно чтобы не менялась высота */
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .bar__body {
                margin-top: 10px;
            }



.bar--sticky .bar__detachable {
    opacity: 1;
    visibility: visible;
}

.bar--static .bar__detachable {
    opacity: 1;
    visibility: visible;
}
    .bar--static .bar__detachable {
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
    }
        .bar--static .bar__close {
            display: none;
        }

.bar--grounded {

}
    .bar--grounded .bar__close {
        display: none;
    }


@media (min-width: 1600px) {

    .bar {
        height: var(--bar-monitor);
    }
        .bar__detachable {
            padding-bottom: 6px;
        }
            .bar__wrap {
                position: relative; /* сюда прилетит .subscription__terms */
                display: flex;
                align-items: flex-start;
            }
                .bar__heading {
                    flex-grow: 1;
                    margin-top: 16px;
                    text-align: left;
                }

                .bar__body {
                    width: 494px;
                    margin-top: 0;
                    flex-shrink: 0;
                }
}



@media (max-width: 1100px) {

    .bar__close {
        right: 0;
        top: 0;
        padding: 12px;
        border: none;
    }
        .bar__close::before {
            display: none;
        }

    .bar__desktop-cross {
        display: none;
    }

    .bar__mobile-cross {
        display: block;
        position: relative;
        fill: var(--high-emphasis-black);
    }
}


@media (max-width: 639px) {

    .bar {
        height: var(--bar-mobile-collapsed);
    }
        .bar__detachable {

        }
            .bar__expand,
            .bar__collapse {
                display: block;
                position: absolute;
                z-index: 10;
                left: 0;
                top: 0;
                border: none;
                background-color: transparent;
                padding: 6px 10px 15px;
                font-family: inherit;
                font-size: 11px;
                line-height: 14px;
                color: var(--red);
                cursor: pointer;
            }

            .bar__expand {

            }

            .bar__collapse {
                display: none;
            }

            .bar__close {

            }

            .bar__wrap {

            }
                .bar__heading {
                    margin-left: 10px;
                    margin-right: 10px;
                    height: 48px; /* конкретная высота важна для залипания */
                    font-size: 17px;
                    line-height: 24px;
                    white-space: normal;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }

                .bar__body {
                    display: none;
                }

    .bar--expanded {

    }
        .bar--expanded .bar__expand {
            display: none;
        }

        .bar--expanded .bar__collapse {
            display: block;
        }

        .bar--expanded .bar__body {
            display: block;
        }

    .bar--static {
        height: var(--bar-mobile-expanded);
    }

        .bar--static .bar__expand,
        .bar--static .bar__collapse {
            display: none !important;
        }

        .bar--static .bar__body {
            display: block;
        }
}
