.bar {
    position: relative;
    height: var(--bar-tablet-and-desktop);
}
    .bar__detachable {
        position: fixed;
        z-index: 100;
        left: 0;
        right: 0;
        bottom: 0;
        min-height: var(--bar-mobile);
        padding-top: 16px;
        padding-bottom: 16px;
        background-color: #F6EDE4;
        min-width: 320px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.2s, opacity 0.2s;
    }

        .bar__visibility {
            display: block !important;
        }

        .bar__show,
        .bar__hide {
            position: absolute;
            z-index: 10;
            left: 0;
            top: 0;
            padding: 11px 10px 15px;
            font-size: 11px;
            line-height: 14px;
            color: var(--brand_orange);
            cursor: pointer;
        }

        .bar__hide {
            display: none;
        }

        .bar__close {
            position: absolute;
            z-index: 10;
            right: 0;
            top: 0;
            display: inline-block;
            vertical-align: top;
            width: 44px;
            height: 44px;
            padding: 0;
            border: none;
            background-color: transparent;
            background-image: url("../vectors/bar-close.svg");
            background-size: 14px 14px;
            background-repeat: no-repeat;
            background-position: center center;
            text-indent: 100%;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
            transition: opacity 0.1s ease;
        }

        .bar__close:hover {
            opacity: 0.7;
        }

        .bar__wrap {
            position: relative;
            max-width: 1440px;
        }
            .bar__heading {
                font-weight: var(--extra-bold);
                font-size: var(--body-20-font);
                line-height: var(--body-20-line);
                text-align: center;
            }

            .bar__body {
                margin-top: 10px;
                display: none;
            }


.bar__visibility:checked ~ .bar__show {
    display: none;
}

.bar__visibility:checked ~ .bar__hide {
    display: block;
}

.bar__visibility:checked ~ .bar__wrap .bar__body {
    display: block;
}




.bar_sticky .bar__detachable {
    opacity: 1;
    visibility: visible;
}

.bar_static .bar__detachable {
    opacity: 1;
    visibility: visible;
}
    .bar_static .bar__detachable {
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
    }
        .bar_static .bar__close {
            display: none;
        }

.bar_grounded {

}
    .bar_grounded .bar__close {
        display: none;
    }


/* Только на десктопах */
@media (min-width: 640px) {
    .bar__show,
    .bar__hide {
        display: none !important;
    }

    .bar__body {
        display: block !important;
    }
}


/* Адаптив */
@media (max-width: 639px) {
    .bar {
        height: var(--bar-mobile);
    }
}


@media (min-width: 1300px) {

    .bar {

    }
        .bar__detachable {

        }
            .bar__visibility {

            }

            .bar__show,
            .bar__hide {

            }

            .bar__close {

            }

            .bar__wrap {

            }
                .bar__heading {

                }

                .bar__body {

                }
}


@media (min-width: 1600px) {

    .bar {

    }
        .bar__detachable {
            padding-bottom: 6px;
        }
            .bar__visibility {

            }

            .bar__show,
            .bar__hide {

            }

            .bar__close {

            }

            .bar__wrap {
                position: relative; /* сюда прилетит .subscription__terms */
                display: flex;
                align-items: flex-start;
            }
                .bar__heading {
                    flex-grow: 1;
                    margin-top: 16px;
                    text-align: left;
                }

                .bar__body {
                    width: 494px;
                    margin-top: 0;
                    flex-shrink: 0;
                }
}
