.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    justify-content: center;
    border: none;
    padding: 18px 32px 20px;
    background-color: var(--red);
    border-radius: 8px;
    font-family: inherit;
    font-weight: var(--extra-bold);
    font-size: 17px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.button:hover {
    background-color: var(--primary-black);
    color: #EEEEEE;
}
    .button__icon {
        vertical-align: top;
        fill: currentColor;
    }

    .button__icon--left {
        vertical-align: top;
        margin-right: 4px;
    }


.button--smaller {
    padding-top: 13px;
    padding-bottom: 13px;
}


.button--border {
    box-shadow: inset 0 0 0 1px var(--primary-black);
    background-color: transparent;
    color: var(--primary-black);
}

.button--border:hover {
    box-shadow: transparent;
    background-color: var(--primary-black);
    color: #EEEEEE;
}


.button--border-accent {
    box-shadow: inset 0 0 0 1px var(--red);
    background-color: transparent;
    color: var(--red);
}

.button--border-accent:hover {
    box-shadow: transparent;
    background-color: var(--red);
    color: var(--white);
}


.button--yellow {
    background-color: var(--yellow);
    color: var(--high-emphasis-black);
}

.button--yellow:hover {
    background-color: var(--yellow);
    color: var(--high-emphasis-black);
    filter: brightness(1.025) contrast(1.025);
}

.button--larger {
    padding: 25px 50px 27px;
    font-size: 20px;
}

@media (min-width: 640px) {
    .button--larger-on-desktop {
        padding: 25px 50px 27px;
        font-size: 20px;
    }
}


@keyframes button-loading-spin {
    100% {
        transform: rotate(360deg);
    }
}

.button--loading {
    color: transparent;
    pointer-events: none;
}
    .button--loading::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        margin-left: -12px;
        background-image: url("../vectors/button-loading.svg");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center center;
        animation: button-loading-spin 1s steps(12) infinite;
    }


.button--success {
    color: transparent;
    pointer-events: none;
}
    .button--success::after {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        width: 24px;
        height: 24px;
        margin-top: -12px;
        margin-left: -12px;
        background-image: url("../vectors/button-success.svg");
        background-size: 24px 24px;
        background-repeat: no-repeat;
        background-position: center center;
    }
