.choice {
    position: relative;
    display: inline-block;
    vertical-align: top;
    min-width: 20px;
    margin-bottom: 0; /* bootstrap conflict */
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    font-weight: inherit;
    cursor: pointer;
    user-select: none;
}
    .choice__widget {
        opacity: 0;
        position: absolute;
        left: 2px;
        top: 12px;
    }

    .choice__icon {
        position: absolute;
        left: 0;
        top: 6px;
        width: 18px;
        height: 18px;
        border: 1px solid var(--low-emphasis-black);
        background-color: #FFFFFF;
        background-size: 16px 16px;
        background-repeat: no-repeat;
        background-position: center center;
        border-radius: 2px;
    }

    .choice--checkbox .choice__icon {
        background-image: url("../vectors/choice-checkbox.svg"); /* by default it can't be seen because of white background */
    }

    .choice--radio .choice__icon {
        background-image: url("../vectors/choice-radio.svg"); /* by default it can't be seen because of white background */
        border-radius: 50%;
    }

    .choice__widget:focus ~ .choice__icon {
        outline: auto;
    }

    .choice:hover .choice__icon {
        background-color: var(--low-emphasis-black);
        border-color: transparent;
    }

    .choice__widget:checked ~ .choice__icon {
        transition: none;
        background-color: var(--red);
        border-color: transparent;
    }

    /*.choice:hover .choice__widget:checked ~ .choice__icon {*/
    /*    background-color: #83E0A4;*/
    /*    border-color: #83E0A4;*/
    /*}*/

    /* Cancel radio hover */
    /*.choice--radio:hover .choice__widget:checked ~ .choice__icon {*/
    /*    background-color: #08C149;*/
    /*    border-color: #08C149;*/
    /*}*/

    .choice__label {
        position: relative;
        display: block;
        padding: 1px 0 2px 30px;
        font-size: 17px;
        line-height: 27px;
        color: var(--high-emphasis-black);
    }


.choice__widget[type="radio"]:checked ~ .choice__icon,
.choice__widget[type="radio"]:checked ~ .choice__icon ~ .choice__label {
    cursor: default;
}



/* .choice--hidden-label */

.choice--hidden-label {
    width: 40px;
    height: 40px;
}
    .choice--hidden-label .choice__icon {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        margin: auto;
    }

    .choice--hidden-label .choice__label {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }




.choice--disabled:not(.choice--loading) {
    cursor: default;
}

    .choice--disabled:not(.choice--loading) .choice__icon,
    .choice--disabled:not(.choice--loading):hover .choice__icon {
        background-color: var(--low-emphasis-black);
        border-color: transparent;
        cursor: default;
    }

    .choice--disabled:not(.choice--loading) .choice__widget:checked ~ .choice__icon,
    .choice--disabled:not(.choice--loading):hover .choice__widget:checked ~ .choice__icon {
        background-color: var(--low-emphasis-black);
        border-color: transparent;
        cursor: default;
    }

    .choice--disabled:not(.choice--loading) .choice__label {
        cursor: default;
        color: #8B8B8B;
    }


.choice--loading {
    cursor: default;
}

    .choice--loading .choice__icon,
    .choice--loading:hover .choice__icon {
        background-color: var(--low-emphasis-black);
        border-color: transparent;
        cursor: default;
    }

    .choice--loading .choice__widget:checked ~ .choice__icon,
    .choice--loading:hover .choice__widget:checked ~ .choice__icon {
        background-color: var(--low-emphasis-black);
        border-color: transparent;
        cursor: default;
    }

    .choice--loading .choice__label {
        cursor: default;
        color: #8B8B8B;
    }





.choice--simpler {
    border-top-width: 11px;
    border-bottom-width: 11px;
}
    .choice--simpler .choice__icon {
        position: absolute;
        left: 0;
        top: 4px;
        display: block;
        width: 11px;
        height: 11px;
        background-color: #FFFFFF !important; /* Перебиваем все предыдущие ховеры */
        border: none;
        background-image: none;
        border-radius: 2px;
        pointer-events: none; /* Since this icon is positioned higher than label, let's make it possible to click through, so that the user interacts only with the label. For now, this icon won't generate its own cursor, for example. */
        transition: background-color var(--transition-hover),
        border-color var(--transition-hover);
    }
        .choice--simpler .choice__icon::after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-image: url("../vectors/choice-simpler-checkbox.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            opacity: 0;
        }

        .choice:hover .choice__widget:not(:disabled):not(:checked) ~ .choice__icon::after {
            opacity: 20%;
        }


        /* Checked */

        .choice--simpler .choice__widget:checked ~ .choice__icon::after {
            opacity: 100%;
        }

    .choice--simpler .choice__label {
        padding: 0 0 0 16px;
        font-size: 12px;
        line-height: 18px;
        color: var(--beige);
    }


.choice--simpler.choice--disabled {
    opacity: 70%;
}
    .choice--simpler.choice--disabled .choice__widget:checked ~ .choice__icon::after {
        opacity: 60%;
    }

    .choice--simpler.choice--disabled .choice__label {
        color: var(--beige);
    }


.choice--simpler.choice--loading {
    opacity: 70%;
}
    .choice--simpler.choice--loading .choice__widget:checked ~ .choice__icon::after {
        opacity: 60%;
    }

    .choice--simpler.choice--loading .choice__label {
        color: var(--beige);
    }




.choice--full-width {
    width: 100%;
}
    .choice--full-width .choice__label {
        width: 100%;
    }


.choice--alternate {

}
    .choice--alternate .choice__label {
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 13px;
        line-height: 26px;
        color: #545454;
    }




.choice--slim {

}
    .choice--slim .choice__icon {
        margin-top: 1px;
    }

    .choice--slim .choice__label {
        font-size: 13px;
        line-height: 20px;
        color: #545454;
    }

