.courses {
    padding-bottom: 80px;
}
    .courses__heading {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: -1px;
        font-weight: var(--extra-bold);
        font-size: 32px;
        line-height: 38px;
    }
        .courses__applied-filter {
            font-weight: var(--medium);
        }

    .courses__found {
        margin-top: 8px;
        font-size: 17px;
        line-height: 27px;
    }

    @media (min-width: 640px) {
        .courses__handler {
            display: none !important; /* импортантом перебиваем .button */
        }
    }

    .courses__body {
        margin-top: 32px;
        display: grid;
        grid-template-columns: 1fr 304px;
        gap: 32px;
    }
        .courses__list {
            border-radius: 8px;
        }
            .courses__item {
                margin-top: 12px;
            }

            .courses__item:first-child {
                margin-top: 0;
            }

        .courses__filters {
            padding: 32px 24px;
            background-color: var(--neutral);
            border-radius: 8px;
        }
            .courses__operations {

            }

            @media (min-width: 640px) {
                .courses__operations {
                    display: none;
                }
            }

            .courses__option {
                margin-bottom: 32px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            .courses__option:last-child {
                margin-bottom: 0;
            }
                .courses__sub-heading {
                    margin-top: 0;
                    margin-bottom: 0;
                    padding-bottom: 12px;
                    font-weight: var(--extra-bold);
                    font-size: 17px;
                    line-height: 27px;
                }

                .courses__checkbox {

                }
                    .courses__checkbox.choice,
                    .courses__checkbox .choice {
                        border-top-width: 1px;
                        border-bottom-width: 1px;
                    }


            .courses__more {
                margin-top: -18px;
                font-size: 17px;
                line-height: 27px;
            }

            @media (min-width: 640px) {
                .courses__submit {
                    display: none;
                }
            }

    .courses__page {
        margin-top: 32px;
    }



@media (max-width: 639px) {

    .courses {
        /*padding-bottom: 80px;*/
    }
        .courses__heading {
            /*margin-top: 0;*/
            /*margin-bottom: 0;*/
            /*margin-left: -1px;*/
            /*font-weight: var(--extra-bold);*/
            /*font-size: 32px;*/
            /*line-height: 38px;*/
        }
            .courses__applied-filter {
                /*font-weight: var(--medium);*/
            }

        .courses__found {
            /*margin-top: 8px;*/
            /*font-size: 17px;*/
            /*line-height: 27px;*/
        }

        .courses__handler {
            margin-top: 32px;
        }
            .courses__handler.button,
            .courses__handler .button {
                width: 100%;
            }

        .courses__body {
            /*margin-top: 32px;*/
            display: block;
            /*grid-template-columns: 1fr 304px;*/
            /*gap: 32px;*/
        }
            .courses__list {
                /*border-radius: 8px;*/
            }
                .courses__item {
                    /*margin-top: 12px;*/
                    /*background-color: var(--neutral);*/
                    /*border-radius: 8px;*/
                }

                .courses__item:first-child {
                    /*margin-top: 0;*/
                }

            .courses__filters {
                display: none;
                background-color: transparent;
                padding: 0;
                /*padding: 32px 24px;*/
                /*background-color: var(--neutral);*/
                /*border-radius: 8px;*/
            }
                .courses__operations {
                    position: fixed;
                    z-index: 10;
                    left: 0;
                    top: 0;
                    right: 0;
                    background-color: var(--neutral);
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;
                }
                    .courses__action {
                        border: none;
                        background-color: transparent;
                        padding: 12px 24px 15px;
                        font-family: inherit;
                        font-size: 17px;
                        line-height: 24px;
                        color: var(--red);
                        cursor: pointer;
                    }

                .courses__option {
                    /*margin-top: 32px;*/
                    /*display: flex;*/
                    /*flex-direction: column;*/
                    /*align-items: flex-start;*/
                }

                .courses__option:first-child {
                    /*margin-top: 0;*/
                }
                    .courses__sub-heading {
                        /*margin-top: 0;*/
                        /*margin-bottom: 0;*/
                        /*padding-bottom: 12px;*/
                        /*font-weight: var(--extra-bold);*/
                        /*font-size: 17px;*/
                        /*line-height: 27px;*/
                    }

                    .courses__checkbox {

                    }
                        .courses__checkbox.choice,
                        .courses__checkbox .choice {
                            /*border-top-width: 1px;*/
                            /*border-bottom-width: 1px;*/
                        }


                .courses__more {
                    /*margin-top: 14px;*/
                    /*font-size: 17px;*/
                    /*line-height: 27px;*/
                }

                .courses__submit {
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    padding: 16px 24px;
                    background-color: var(--neutral);
                }
                    .courses__apply-filter.button,
                    .courses__apply-filter .button {
                        width: 100%;
                    }

        .courses__page {
            /*margin-top: 32px;*/
        }



    .courses-expanded {

    }
        .courses-expanded .breadcrumbs {
            display: none;
        }

        .courses-expanded .courses {
            padding-top: 75px;
            padding-bottom: 136px;
        }

        .courses-expanded .courses__body {
            margin-top: 0;
        }

        .courses-expanded .courses__filters {
            display: block;
        }

        .courses-expanded .courses__list {
            display: none;
        }

        .courses-expanded .courses__heading {
            display: none;
        }

        .courses-expanded .courses__found {
            display: none;
        }

        .courses-expanded .courses__handler {
            display: none;
        }

        .courses-expanded .courses__page {
            display: none;
        }

        .courses-expanded .contacts-preview {
            display: none;
        }

        .courses-expanded .center {
            display: none;
        }

        .courses-expanded .nav {
            display: none;
        }

        .courses-expanded .header__bar {
            display: none;
        }

        .courses-expanded .banner {
            display: none;
        }

        .courses-expanded .footer {
            display: none;
        }
}
