.cta {
    padding-top: 80px;
    padding-bottom: 80px;
}
    .cta__frame {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 130px;
        background-image: url("../vectors/cta.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
    }
        .cta__action {

        }


@media (width < 640px) {

    .cta {
        padding-top: 60px;
        padding-bottom: 60px;
    }
        .cta__frame {
            height: auto;
            background-image: none;
        }
            .cta__action {
                width: 100%;
                max-width: var(--mobile-button);
            }
                .cta__action .button {

                }

                @media (width < 350px) {

                    .cta__action .button {
                        font-size: 16px;
                    }
                }
                    .cta__action .button__icon {
                        display: none;
                    }
}
