@media (min-width: 640px) {

    .header {
        position: relative;
        display: flex;
        align-items: flex-start;
        height: 80px;
        padding: 10px 65px;
    }
        .header__togglers {
            position: absolute;
            right: 53px;
            bottom: 100%;
            margin-bottom: 8px;
            display: flex;
            align-items: flex-start;
        }
            .header__search {
                position: relative;
                vertical-align: top;
                margin-right: 10px;
                width: 44px;
                height: 44px;
                padding: 0;
                background-color: transparent;
                border-radius: 4px;
                border: none;
                text-indent: 200%;
                white-space: nowrap;
                overflow: hidden;
                cursor: pointer;
            }

            .header__search:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
                .header__magnifier {
                    position: absolute;
                    left: 0;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: 20px;
                    height: 20px;
                    vertical-align: top;
                    fill: var(--high-emphasis-white);
                }

            .header__login {
                vertical-align: top;
                padding: 10px 12px;
                background-color: transparent;
                border-radius: 4px;
                border: none;
                font-size: 15px;
                line-height: 24px;
                letter-spacing: 0.3px;
                color: var(--high-emphasis-white);
                white-space: nowrap;
                cursor: pointer;
            }

            .header__login:hover {
                background-color: rgba(255, 255, 255, 0.1);
            }
                .header__door {
                    vertical-align: top;
                    display: none;
                }

        .header__emblem {

        }

        .header__courses {
            margin-left: 40px;
            margin-right: auto;
        }

        .header__handler {
            margin-left: 18px;
            margin-top: 6px;
            display: flex;
            align-items: flex-start;
            padding: 12px 20px;
            border-radius: 6px;
            font-weight: var(--extra-bold);
            font-size: 17px;
            line-height: 24px;
            white-space: nowrap;
            color: inherit;
            text-decoration: none;
        }

        .header__handler:hover {
            background-color: var(--blue-light);
        }

        .header__handler--with-arrow {

        }
            .header__handler--with-arrow::after {
                content: "";
                display: block;
                margin-top: 3px;
                margin-left: 8px;
                margin-right: -8px;
                width: 20px;
                height: 20px;
                background-image: url("../vectors/header-link.svg");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .header__handler--expanded::after {
                transform: scaleY(-1);
            }

        .header__contacts {
            margin-top: 5px;
            margin-left: 40px;
        }
            .header__phone {

            }

            .header__address {
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
                font-size: 15px;
                line-height: 24px;
            }
                .header__pin {
                    margin-top: 3px;
                    margin-right: 4px;
                }

        .header__dropdown {
            position: absolute;
            z-index: 50;
            left: 0;
            right: 0;
            top: 100%;
            background-color: #FFFFFF;
            display: none;
        }

        .header__dropdown:hover {
            display: block;
        }
            .header__close {
                float: right;
            }
                .header__cross {
                    fill: var(--high-emphasis-black);
                }
}

@media (max-width: 639px) {

    .header {
        position: relative;
        padding: 20px 24px;
    }
        .header__togglers {
            position: absolute;
            right: 19px;
            top: 11px;
            display: flex;
            align-items: flex-start;
        }
            .header__search,
            .header__login {
                width: 78px;
                height: 78px;
                background-color: transparent;
                border: none;
                padding: 0;
                vertical-align: top;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-weight: var(--extra-bold);
                font-size: 17px;
                line-height: 24px;
                cursor: pointer;
            }
                .header__magnifier,
                .header__door {
                    fill: currentColor;
                }

    .header__emblem {

    }

    .header__courses {
        margin-top: 24px;
    }
        .header__courses.button,
        .header__courses .button {
            width: 100%;
        }

    .header__handler {
        display: none;
    }

    .header__handler--with-arrow {

    }
        .header__handler--with-arrow::after {

        }

    .header__contacts {
        display: none;
    }
        .header__phone {

        }

        .header__address {

        }
            .header__pin {

            }
}
