.header {
    position: relative;
    display: flex;
    align-items: flex-start;
    height: 60px;
    padding-left: 65px;
    z-index: 100;
}
    .header__togglers {
        display: none;
        align-items: flex-start;
    }
        .header__handler {
            width: 78px;
            height: 78px;
            background-color: transparent;
            border: none;
            padding: 0;
            vertical-align: top;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            font-weight: var(--extra-bold);
            font-size: 17px;
            line-height: 24px;
        }
            .header__icon {
                fill: currentColor;
            }


    .header__logo {
        display: block;
        width: 128px;
        height: 60px;
        background-image: url("../images/logo.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        text-indent: 200%;
        white-space: nowrap;
        overflow: hidden;
    }

    .header__courses {
        margin-left: 40px;
        margin-right: auto;
    }

    .header__link {
        display: flex;
        align-items: flex-end;
        padding: 16px 18px;
        font-weight: var(--extra-bold);
        font-size: 17px;
        line-height: 24px;
        white-space: nowrap;
        color: inherit;
        text-decoration: none;
    }

    .header__link--has-dropdown {

    }
