.input {
    position: relative;
    text-align: left;
}
    .input__widget {
        width: 100%;
        height: 56px;
        padding: 14px 15px;
        background-color: #FFFFFF;
        border: 1px solid var(--low-emphasis-black);
        box-shadow: none;
        outline: none;
        background-clip: padding-box; /* reset iOS default shadow */
        border-radius: 8px; /* reset iOS default border-radius */
        font-family: inherit;
        font-size: 17px;
        line-height: 26px;
        text-align: left;
        color: #000000;
    }

    .input__widget::placeholder {
        opacity: 1; /* reset opacity drop Firefox */
        color: #87878A;
    }

    .input__widget:hover {

    }

    .input__widget:focus-visible,
    .input--focus .input__widget,
    .input--expanded .input__widget { /* даже если фокус где-то в выпадайке календаря, например */
        border-color: var(--high-emphasis-black);
    }

    .input__widget[type="password"]:not(:placeholder-shown) {
        font-family: "Tahoma", sans-serif;
        letter-spacing: 2px;
    }



    .input__hint {
        margin-top: 8px;
        display: table;
        margin-left: auto;
        font-size: 15px;
        line-height: 23px;
        color: #87878A;
    }


.input--simpler {

}
    .input--simpler .input__widget {
        height: 52px;
        padding: 12px 14px;
        border-color: transparent;
        background-clip: border-box;
        font-size: 16px;
        line-height: 24px;
    }

    .input--simpler .input__widget::placeholder {
        color: #878787;
    }

.input--smaller {

}
    .input--smaller .input__widget {
        height: 50px;
        min-height: 50px; /* when textarea is being resized */
        padding-top: 11px;
        padding-bottom: 11px;
    }


.input--area {

}
    .input--area .input__widget {
        vertical-align: top;
        height: auto; /* user rows="" attribute */
        min-height: 56px; /* when textarea is being resized */
        resize: vertical;
    }


/* для .input--select */
.input--placeholder-is-chosen .input__widget {
    color: #87878A;
}
    .input--placeholder-is-chosen option {
        color: #000000 !important; /* FF тупит и наследует серый цвет */
    }


.input--select {

}
    .input--select .input__widget {
        padding-right: 56px !important;
        background-image: url("../vectors/input-select.svg");
        background-size: 20px 20px;
        background-repeat: no-repeat;
        background-position: right 15px center;
        opacity: 1; /* because select:disabled { opacity: 0.7; } in user agent stylesheet */
        cursor: pointer;
    }

    .input--select .input__icon {
        display: none; /* по дефолту скрываем, оставляем браузерную */
    }



@supports (-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none) {

    .input--select {

    }

    .input--select .input__widget {
        -webkit-appearance: none;
           -moz-appearance: none;
                appearance: none;
    }
}





/* Disabled
  Здесь добавляется .input:not(.input--loading) потому что
  иначе :disabled может поломать кейс с loading.
  Там тоже используется :disabled.
*/
.input--disabled,
.input__widget:disabled {

}
    .input--disabled:not(.input--loading) .input__widget,
    .input--disabled:not(.input--loading) .input__widget:hover,
    .input--disabled:not(.input--loading) .input__widget:active,
    .input:not(.input--loading) .input__widget:disabled,
    .input:not(.input--loading) .input__widget:disabled:hover,
    .input:not(.input--loading) .input__widget:disabled:active {
        background-color: #EEEEEE;
        border-color: var(--medium-emphasis-white);
        -webkit-text-fill-color: var(--medium-emphasis-white); /* safari зачем-то засветляет текст */
        opacity: 1; /* ios safari зачем-то засветляет текст */
        color: var(--medium-emphasis-white);
        box-shadow: none;
        cursor: default;
    }

    .input--disabled:not(.input--loading) .input__widget::placeholder,
    .input:not(.input--loading) .input__widget:disabled::placeholder {
        color: var(--medium-emphasis-white);
    }


    @supports (-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none) {
        .input--disabled.input--select .input__widget,
        .input--select .input__widget:disabled {
            background-image: url("../vectors/input-select-disabled.svg");
        }
    }



/* loading */
.input--loading {

}
    .input--loading .input__widget {
        border-color: var(--input-border);
        background-color: var(--disabled-background);
        color: var(--disabled-color);
    }

    .input--loading .input__widget::placeholder {
        color: var(--disabled-color);
    }



.input--error {

}
    .input--error .input__label {
        color: var(--red) !important;
    }

    .input--error .input__widget {
        border-color: var(--red);
        color: var(--red);
    }

    .input--error {

    }

    /* stylelint-disable block-opening-brace-space-before */
    .input__widget::-webkit-input-placeholder { font-style: normal; color: var(--red); }
    .input__widget::-moz-placeholder          { font-style: normal; color: var(--red); opacity: 1; }
    .input__widget:-ms-input-placeholder      { font-style: normal; color: var(--red); }
    /* stylelint-enable */

    .input--error .input__icon,
    .input--error .input__describe-action {
        fill: var(--red);
    }


    @supports (-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none) {
        .input--error.input--select .input__widget {
            background-image: url("../vectors/input-select-error.svg");
        }
    }


.input__message {
    margin-top: 8px;
    font-size: 15px;
    line-height: 23px;
    color: var(--red);
}

.input__message + .input__message {
    margin-top: 4px;
}


.input__hint ~ .input__message {
    margin-top: -23px;
    margin-right: 180px;
}
