.jumbotron {
    padding-top: 100px;
    padding-bottom: 60px;
    display: grid;
    grid-template-columns: 48.9247fr 40.8602fr;
    align-items: center;
    gap: 0 32px;
}
    .jumbotron__content {
        max-width: 728px;
    }
        .jumbotron__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 58px;
            line-height: 64px;
        }

        .jumbotron__description {
            margin-top: 24px;
            font-size: 20px;
            line-height: 32px;
        }

        .jumbotron__submit {
            margin-top: 40px;
        }

    .jumbotron__preview {

    }


@media (max-width: 639px) {

    .jumbotron {
        display: block;
        padding-top: 40px;
        padding-bottom: 40px;
        /*grid-template-columns: 48.9247fr 40.8602fr;*/
        /*align-items: center;*/
        /*gap: 0 32px;*/
    }
        .jumbotron__content {
            /*max-width: 728px;*/
            padding-top: 0;
            padding-bottom: 0;
        }
            .jumbotron__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                font-size: 36px;
                line-height: 40px;
            }

            .jumbotron__description {
                /*margin-top: 24px;*/
                font-size: 17px;
                line-height: 24px;
            }

            .jumbotron__submit {
                margin-top: 27px;
                width: 100%;
            }

        .jumbotron__preview {
            display: none;
        }
}
