.program {

}
    .program__intro {

    }

    .program__data {
        margin-top: 32px;
    }
        .program__entry {
            margin-top: 2px;
            padding: 11px 32px;
            background-color: var(--neutral);
            border-radius: 8px;
            min-height: 76px;
            display: flex;
            align-items: center;
        }

        .program__entry:first-child {
            margin-top: 0;
        }
            .program__index {
                width: 120px;
                flex-shrink: 0;
                font-weight: var(--extra-bold);
                white-space: nowrap;
            }

            .program__title {

            }

    .program__expand {

    }

    @media (min-width: 640px) {
        .program__expand {
            display: none;
        }
    }


@media (max-width: 639px) {

    .program {

    }
        .program__intro {

        }

        .program__data {
            /*margin-top: 32px;*/
            margin-bottom: 28px;
        }
            .program__entry {
                /*margin-top: 2px;*/
                padding: 24px;
                /*background-color: var(--neutral);*/
                /*border-radius: 8px;*/
                /*min-height: 76px;*/
                display: block;
                /*align-items: center;*/
            }

            .program__entry:first-child {
                /*margin-top: 0;*/
            }
                .program__index {
                    /*width: 120px;*/
                    /*flex-shrink: 0;*/
                    /*font-weight: var(--extra-bold);*/
                    /*white-space: nowrap;*/
                }

                .program__title {
                    margin-top: 8px;
                }

            .program__entry:nth-child(n+3) {
                display: none;
            }

            .program--expanded .program__entry {
                display: block;
            }

        .program__expand {

        }

        .program--expanded .program__expand {
            display: none;
        }
}
