.ready {
    margin-top: 131px;
    display: flex;
    align-items: center;
    gap: 127px;
}
    .ready__stamp {
        flex-shrink: 0;
    }

    .ready__body {

    }
        .ready__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 36px;
            line-height: 47px;
        }

        .ready__note {
            margin-top: 30px;
            font-size: 14px;
            line-height: 19px;
        }



@media (width < 640px) {

    .ready {
        margin-top: 90px;
        display: block;
    }
        .ready__stamp {
            margin-left: auto;
            margin-right: auto;
        }

        .ready__body {
            margin-top: 27px;
        }
            .ready__heading {
                text-align: center;
            }
                .ready__heading.title,
                .ready__heading .title {
                    font-size: 26px;
                    line-height: 34px;
                }

            .ready__note {
                margin-top: 20px;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
            }
}
