/* stylelint-disable declaration-colon-space-after */
:root {
    --container-desktop-padding: 60px;
    --container-mobile-padding: 24px;
    --body-font: "Manrope", sans-serif;
    --medium: 500;
    --extra-bold: 800;
    --high-emphasis: #0C0908;
    --red: #FC5E38;
    --red-light: #FFDDD1;
    --green-light: #E4E9C9;
    --blue-light: #DBEDFE;
    --primary-black: #1D1D1F;
    --white: rgba(255, 255, 255, 0.97);
}
/* stylelint-enable declaration-colon-space-after */
