/* stylelint-disable declaration-colon-space-after */
:root {
    --container-desktop-padding: 60px;
    --container-mobile-padding: 24px;
    --body-font: "Manrope", sans-serif;
    --medium: 500;
    --extra-bold: 800;
    --high-emphasis: rgba(15, 16, 21, 0.98);
    --red: #FC5E38;
    --red-light: #FFDDD1;
    --green-light: #E4E9C9;
    --blue-light: #DBEDFE;
    --primary-black: #1D1D1F;
    --white: rgba(255, 255, 255, 0.97);
    --image-fallback: #C4C4C4;
    --neutral: #FAF6F2;
    --yellow: #FFD046;
    --yellow-light: #FFF5E7;
    --medium-emphasis: #BFBFBF;
    --low-emphasis-black: rgba(15, 16, 21, 0.16);
    --low-emphasis-white: rgba(255, 250, 245, 0.32);
    --transition-slide: 0.5s ease;
    --footnote-font: 12px;
    --footnote-line: 17px;
    --footnote-spacing: 2.1px;
    --panel-hover: #F2F2F2;
    --panel-active: #EAEAEA;
}
/* stylelint-enable declaration-colon-space-after */
