.single-course {
    display: grid;
    grid-template-columns: 1fr 424px;
    gap: 32px;
}
    .single-course__body {

    }
        .single-course__pre-heading {
            font-size: 14px;
            line-height: 23px;
        }

        .single-course__heading {
            margin-top: 6px;
            margin-bottom: 0;
            font-weight: var(--extra-bold);
            font-size: 42px;
            line-height: 46px;
        }

        .single-course__tag {
            margin-top: 32px;
        }

        .single-course__info {
            margin-top: 14px;
        }

        .single-course__nav {
            margin-top: 60px;
        }

        .single-course__section {
            padding-top: 60px;
            padding-bottom: 60px;
            border-bottom: 1px solid var(--neutral);
        }
            .single-course__sub-heading {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 32px;
                line-height: 38px;
            }

            .single-course__widget {
                margin-top: 32px;
            }

    .single-course__sidebar {

    }
