.slideshow {
    position: relative;
}
    .slideshow__content {
        position: relative;
    }
        .slideshow__item {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            opacity: 0;
            visibility: hidden;
            transition: opacity var(--transition-slide),
                        visibility var(--transition-slide);
        }

        .slideshow__item--current {
            position: static;
            opacity: 1;
            visibility: visible;
        }

    .slideshow__counter {

    }


    .slideshow__control {
        cursor: pointer;
    }

    .slideshow__control--disabled {
        cursor: default;
    }

    .slideshow__control--prev {

    }

    .slideshow__control--next {

    }
        .slideshow__arrow {

        }

    .slideshow__navigation {

    }
        .slideshow__dot {
            cursor: pointer;
        }

        .slideshow__dot--current {
            cursor: default;
            font-weight: bold;
        }


.slideshow--stats {
    padding-top: 101px;
    padding-bottom: 127px;
    background-color: var(--red-light);
    border-radius: 12px;
}
    .slideshow--stats .slideshow__content {
        padding-left: 60px;
        padding-right: 60px;
    }
        .slideshow--stats .slideshow__item {
            font-weight: var(--extra-bold);
            font-size: 26px;
            line-height: 34px;
            text-align: center;
        }

        .slideshow--stats .slideshow__item--current {

        }

    .slideshow--stats .slideshow__navigation {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .slideshow--stats .slideshow__dot {
            position: relative;
            width: 27px;
            height: 27px;
            padding: 10px;
            border: none;
            background-color: transparent;
            border-radius: 50%;
            text-indent: 500%;
            white-space: nowrap;
            overflow: hidden;
        }
            /* hover */
            .slideshow--stats .slideshow__dot::before {
                content: "";
                position: absolute;
                left: 1px;
                top: 1px;
                right: 1px;
                bottom: 1px;
                background-color: #FFFFFF;
                border-radius: 50%;
                opacity: 0;
            }

            /* dot */
            .slideshow--stats .slideshow__dot::after {
                content: "";
                position: absolute;
                left: 10px;
                top: 10px;
                width: 7px;
                height: 7px;
                background-color: var(--red);
                border-radius: 50%;
                opacity: 0.4;
            }

        .slideshow--stats .slideshow__dot--current {

        }
            .slideshow--stats .slideshow__dot--current::after {
                opacity: 1;
            }

        .slideshow--stats .slideshow__dot:hover {

        }
            .slideshow--stats .slideshow__dot:hover::before {
                opacity: 0.6;
            }

            .slideshow--stats .slideshow__dot:hover::after {
                opacity: 1;
            }



@media (max-width: 639px) {

    .slideshow--stats {
        /*padding-top: 101px;*/
        /*padding-bottom: 127px;*/
        /*background-color: var(--red-light);*/
        /*border-radius: 12px;*/
    }
        .slideshow--stats .slideshow__content {
            padding-left: 24px;
            padding-right: 24px;
        }
            .slideshow--stats .slideshow__item {
                /*font-weight: var(--extra-bold);*/
                /*font-size: 26px;*/
                /*line-height: 34px;*/
                /*text-align: center;*/
            }

            .slideshow--stats .slideshow__item--current {

            }

        .slideshow--stats .slideshow__navigation {
            /*position: absolute;*/
            /*left: 0;*/
            /*right: 0;*/
            /*bottom: 70px;*/
            /*display: flex;*/
            /*align-items: center;*/
            /*justify-content: center;*/
        }
            .slideshow--stats .slideshow__dot {
                /*position: relative;*/
                /*width: 27px;*/
                /*height: 27px;*/
                /*padding: 10px;*/
                /*border: none;*/
                /*background-color: transparent;*/
                /*border-radius: 50%;*/
                /*text-indent: 500%;*/
                /*white-space: nowrap;*/
                /*overflow: hidden;*/
                /*cursor: pointer;*/
            }
                /* hover */
                .slideshow--stats .slideshow__dot::before {
                    /*content: "";*/
                    /*position: absolute;*/
                    /*left: 1px;*/
                    /*top: 1px;*/
                    /*right: 1px;*/
                    /*bottom: 1px;*/
                    /*background-color: #FFFFFF;*/
                    /*border-radius: 50%;*/
                    /*opacity: 0;*/
                }

                /* dot */
                .slideshow--stats .slideshow__dot::after {
                    /*content: "";*/
                    /*position: absolute;*/
                    /*left: 10px;*/
                    /*top: 10px;*/
                    /*width: 7px;*/
                    /*height: 7px;*/
                    /*background-color: var(--red);*/
                    /*border-radius: 50%;*/
                    /*opacity: 0.4;*/
                }

            .slideshow--stats .slideshow__dot--current {

            }
                .slideshow--stats .slideshow__dot--current::after {
                    /*opacity: 1;*/
                }

            .slideshow--stats .slideshow__dot:hover {

            }
                .slideshow--stats .slideshow__dot:hover::before {
                    /*opacity: 0.6;*/
                }

                .slideshow--stats .slideshow__dot:hover::after {
                    /*opacity: 1;*/
                }
}

