.stats {

}
    .stats__wrap {
        position: relative;
    }

    .stats__heading {
        position: absolute;
        left: 0;
        right: 0;
        top: 50px;
        font-weight: var(--medium);
        font-size: var(--footnote-font);
        line-height: var(--footnote-line);
        letter-spacing: var(--footnote-spacing);
        text-transform: uppercase;
        text-align: center;
    }
