.subscription {

}
    .subscription__body {
        display: flex;
        flex-direction: column;
    }
        .subscription__field {
            width: 100%;
        }

        .subscription__option {
            align-self: flex-start;
        }

        .subscription__submit {
            margin-top: 11px;
            width: 100%;
        }

    .subscription__terms {
        font-size: 11px;
        line-height: 14px;
        color: var(--medium-emphasis-black);
    }


.subscription--full {

}

@media (min-width: 1600px) {

    .subscription--full {

    }
        .subscription--full .subscription__body {
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
        }
            .subscription--full .subscription__field {
                order: 1;
                width: 306px;
            }

            .subscription--full .subscription__option {
                order: 3;
            }

            .subscription--full .subscription__submit {
                order: 2;
                width: 180px;
                margin-left: 8px;
                margin-top: 0;
                flex-shrink: 0;
            }

        .subscription--full .subscription__terms {
            position: absolute;
            left: 0;
            top: 48px;
            font-size: 12px;
            line-height: 18px;
        }
}





/*.subscription_vertical {*/
/*    width: auto;*/
/*    margin-left: 0;*/
/*    margin-right: 0;*/
/*    text-align: center;*/
/*}*/
/*    .subscription_vertical .subscription__body {*/
/*        display: block;*/
/*    }*/
/*        .subscription_vertical .subscription__field {*/
/*            margin-left: auto;*/
/*            margin-right: auto;*/
/*            max-width: 300px;*/
/*        }*/

            /*.subscription_vertical .subscription__option {*/
            /*    */
            /*}*/
/*        .subscription_vertical .subscription__submit {*/
/*            margin-top: 10px;*/
/*            width: 100%;*/
/*            max-width: 300px;*/
/*        }*/


/*@media (min-width: 768px) {*/

/*    .subscription_vertical {*/

/*    }*/
/*        .subscription_vertical .subscription__body {*/

/*        }*/
/*            .subscription_vertical .subscription__field {*/

/*            }*/
/*            .subscription_vertical .subscription__option {*/
/*                */
/*            }*/
/*            .subscription_vertical .subscription__submit {*/

/*            }*/
/*}*/
