.teachers-preview {
    padding-top: 60px;
    padding-bottom: 55px;
}
    .teachers-preview__intro {
        padding-bottom: 60px;
    }
        .teachers-preview__heading {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 42px;
            line-height: 46px;
        }

        .teachers-preview__intro {
            max-width: 880px;
            margin-top: 24px;
            border-bottom: 1px solid #DEDFDF;
            font-size: 17px;
            line-height: 27px;
        }

        .teachers-preview__list {
            margin-top: 60px;
            padding-top: 60px;
            overflow: hidden; /* обрезаем стрелочки слайдера */
            margin-left: calc(-1 * var(--container-desktop-padding));
            margin-right: calc(-1 * var(--container-desktop-padding));
            padding-left: var(--container-desktop-padding);
            padding-right: var(--container-desktop-padding);
        }

        .teachers-preview__footer {
            margin-top: 52px;
            text-align: center;
        }



@media (max-width: 639px) {

    .teachers-preview {
        padding-top: 40px;
        padding-bottom: 35px;
    }
        .teachers-preview__intro {

        }
            .teachers-preview__heading {
                /*margin-top: 0;*/
                /*margin-bottom: 0;*/
                border-bottom: 1px solid #DEDFDF;
                padding-bottom: 40px;
                font-size: 32px;
                line-height: 38px;
            }

            .teachers-preview__intro {
                /*max-width: 880px;*/
                /*margin-top: 24px;*/
                /*font-size: 17px;*/
                /*line-height: 27px;*/
                display: none;
            }

            .teachers-preview__list {
                margin-top: 0;
                position: relative;
                border-top: none;
                padding-top: 40px;
                margin-left: calc(-1 * var(--container-mobile-padding));
                margin-right: calc(-1 * var(--container-mobile-padding));
                padding-left: var(--container-mobile-padding);
                padding-right: var(--container-mobile-padding);
                /*margin-left: calc(-1 * var(--container-mobile-padding));*/
                /*margin-right: calc(-1 * var(--container-mobile-padding));*/
            }

            .teachers-preview__footer {
                margin-top: 30px;
                text-align: left;
            }
}
