.window {
    position: relative;
    width: 700px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    background-color: #FFFFFF;
    border-radius: 24px;
}
    .window__heading {

    }

    .window__close,
    .window__close.mfp-close {
        position: absolute;
        right: 30px !important;
        top: 16px !important;
        width: auto;
        height: auto;
        display: inline;
        vertical-align: top;
        padding: 4px 0 0;
        border-bottom: 1px solid transparent;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.5px;
        opacity: 1;
        color: var(--red);
        outline: auto;
    }

    .window__close:hover {
        border-bottom-color: currentColor;
    }

    .window__close:active {

    }
        .window__close::before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: -10px;
            bottom: -14px;
        }


    .window__body {

    }



@media (max-width: 639px) {

    .window {
        /*position: relative;*/
        width: 100%;
        /*display: inline-block;*/
        /*vertical-align: top;*/
        /*text-align: left;*/
        /*background-color: #FFFFFF;*/
        /*border-radius: 24px;*/
    }
        .window__heading {

        }

        .window__close {
            /*position: absolute;*/
            /*right: 10px !important;*/
            /*top: 10px !important;*/
            /*text-indent: 100%;*/
            /*white-space: nowrap;*/
            /*overflow: hidden !important;*/
            /*opacity: 1;*/
        }
            .window__close::after {
                /*content: "×";*/
                /*position: absolute;*/
                /*left: 0;*/
                /*top: 0;*/
                /*right: 0;*/
                /*bottom: 0;*/
                /*text-indent: 0;*/
                /*color: #333333;*/
            }

            .window__close:hover::after {
                /*color: #666666;*/
            }

            .window__close:active::after {
                /*color: #000000;*/
            }


        .window__body {

        }
}



