<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Предмет</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../styles/style.css?1711461751">
    </head>
    <body>

        <!--[if IE]>
            <div class="browserupgrade">
                Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
                Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
            </div>
        <![endif]-->
        <div class="nav">
            <div class="nav__item nav__item--has-dropdown">
                <a class="nav__link" href="#">О центре</a>
                <div class="nav__dropdown">
                    <a class="nav__sub-link" href="#">О центре</a>
                    <a class="nav__sub-link" href="#">История центра</a>
                    <a class="nav__sub-link" href="#">День открытых дверей</a>
                    <a class="nav__sub-link" href="#">Благотворительность</a>
                    <a class="nav__sub-link" href="#">Вакансии в центре</a>
                    <a class="nav__sub-link" href="#">Контакты</a>
                </div>
            </div>
            <div class="nav__item">
                <a class="nav__link" href="#">Наши преподаватели</a>
            </div>
            <div class="nav__item">
                <a class="nav__link" href="#">Отзывы</a>
            </div>
            <div class="nav__item">
                <a class="nav__link" href="#">Новости</a>
            </div>
            <div class="nav__item">
                <a class="nav__link" href="#">Контакты</a>
            </div>
        </div>
        <header class="header">
            <div class="header__gate">
                <button class="header__show-search" type="button">
                    <svg class="header__magnifier" width="24" height="24">
                        <use xlink:href="../symbols/symbols.svg?1711461751#magnifier"></use>
                    </svg>
                    <svg class="header__search-cross" width="24" height="24">
                        <use xlink:href="../symbols/symbols.svg?1711461751#cross"></use>
                    </svg>
                    <span class="header__search-label">Поиск</span>
                    <span class="header__close-label">Закрыть</span>
                </button>
                <button class="header__login" type="button">
                    <svg class="header__door" width="24" height="24">
                        <use xlink:href="../symbols/symbols.svg?1711461751#door"></use>
                    </svg>
                    Войти
                </button>
            </div>
            <form class="header__search-dropdown search">
                <input class="search__field" type="text" placeholder="Поиск...">
                <button class="search__submit" type="submit">
                    <svg class="search__magnifier" width="24" height="24">
                        <use xlink:href="../symbols/symbols.svg?1711461751#magnifier"></use>
                    </svg>
                </button>
            </form>
            <a class="header__emblem logo" href="#">
                ЕГЭ-Студия: Готовим на 80 и выше
            </a>
            <button class="header__burger" type="button">
                Меню
            </button>
            <button class="header__close-burger" type="button">
                Закрыть
            </button>
            <div class="header__mobile-dropdown">
                <div class="header__nav">
                    <div class="header__item header__item--has-dropdown header__item--catalog">
                        <button class="header__link" type="button">
                            <span class="desktop-only">Все курсы</span>
                            <span class="mobile-only">Каталог курсов</span>
                        </button>
                        <div class="header__dropdown">
                            <button class="header__close" type="button">
                                <svg class="header__arrow" width="20" height="20">
                                    <use xlink:href="../symbols/symbols.svg?1711461751#arrow-left"></use>
                                </svg>
                                <span class="header__back">Назад</span>
                                <svg class="header__cross" width="20" height="20">
                                    <use xlink:href="../symbols/symbols.svg?1711461751#cross"></use>
                                </svg>
                            </button>
                            <div class="submenu">
                                <div class="submenu__summary">
                                    <b class="submenu__heading">
                                        Курсы подготовки к ЕГЭ, ОГЭ&nbsp;и олимпиадам по всем школьным предметам
                                    </b>
                                    <div class="submenu__operations">
                                        <a class="submenu__action button button--border-accent" href="#">Выбрать курс →</a>
                                    </div>
                                </div>
                                <div class="submenu__column">
                                    <b class="submenu__sub-heading">
                                        Предметы
                                    </b>
                                    <ul class="submenu__list">
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Математика</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Русский язык</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Обществознание</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Литература</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Физика</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Информатика</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Химия</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">История</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Биология</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Английский язык</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="submenu__column">
                                    <b class="submenu__sub-heading">
                                        Формат занятий
                                    </b>
                                    <ul class="submenu__list">
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Очные курсы в Москве</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Онлайн-курсы в прямом эфире</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Курсы в записи</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Летние очные курсы</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="submenu__column">
                                    <b class="submenu__sub-heading">
                                        Цели
                                    </b>
                                    <ul class="submenu__list">
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Подготовиться к ЕГЭ</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Подготовиться к ОГЭ</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Подготовиться к олимпиаде</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header__item header__item--has-dropdown">
                        <button class="header__link" type="button">
                            Преподавателям
                        </button>
                        <div class="header__dropdown">
                            <button class="header__close" type="button">
                                <svg class="header__arrow" width="20" height="20">
                                    <use xlink:href="../symbols/symbols.svg?1711461751#arrow-left"></use>
                                </svg>
                                <span class="header__back">Назад</span>
                                <svg class="header__cross" width="20" height="20">
                                    <use xlink:href="../symbols/symbols.svg?1711461751#cross"></use>
                                </svg>
                            </button>
                            <div class="submenu">
                                <div class="submenu__summary">
                                    <b class="submenu__heading">
                                        Курсы для учителей по подготовке учеников к ЕГЭ&nbsp;и ОГЭ
                                    </b>
                                    <div class="submenu__operations">
                                        <a class="submenu__action button button--border-accent" href="#">Выбрать курс для учителей →</a>
                                    </div>
                                </div>
                                <div class="submenu__column">
                                    <b class="submenu__sub-heading">
                                        Предметы
                                    </b>
                                    <ul class="submenu__list">
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Математика</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Русский язык</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Физика</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Информатика</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="submenu__column">
                                    <b class="submenu__sub-heading">
                                        Повышение квалификации
                                    </b>
                                    <ul class="submenu__list">
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Школа мастерства по математике</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Курсы в записи</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="submenu__column">
                                    <b class="submenu__sub-heading">
                                        Бесплатные материалы
                                    </b>
                                    <ul class="submenu__list">
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Учебники</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Справочные материалы</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Пробные ЕГЭ</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Пробные ОГЭ</a>
                                        </li>
                                        <li class="submenu__item submenu__item--pushed">
                                            <a class="submenu__link" href="#">Все бесплатные материалы</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header__item header__item--has-dropdown">
                        <button class="header__link" type="button">
                            Родителям
                        </button>
                        <div class="header__dropdown">
                            <button class="header__close" type="button">
                                <svg class="header__arrow" width="20" height="20">
                                    <use xlink:href="../symbols/symbols.svg?1711461751#arrow-left"></use>
                                </svg>
                                <span class="header__back">Назад</span>
                                <svg class="header__cross" width="20" height="20">
                                    <use xlink:href="../symbols/symbols.svg?1711461751#cross"></use>
                                </svg>
                            </button>
                            <div class="submenu">
                                <div class="submenu__summary">
                                    <b class="submenu__heading">
                                        Помочь ребенку подготовиться к ЕГЭ, ОГЭ&nbsp;и олимпиаде
                                    </b>
                                    <div class="submenu__operations">
                                        <a class="submenu__action button button--border-accent" href="#">Подобрать курс<br class="less-than-400px-only"> для ребенка →</a>
                                        <a class="submenu__action button button--border-accent" href="#">Найти материалы<br class="less-than-400px-only"> для подготовки →</a>
                                    </div>
                                </div>
                                <div class="submenu__column">
                                    <b class="submenu__sub-heading">
                                        Учебники по предметам
                                    </b>
                                    <ul class="submenu__list">
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Математика</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Русский язык</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Обществознание</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Литература</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Физика</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Информатика</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Химия</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">История</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Биология</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Английский язык</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="submenu__column">
                                    <b class="submenu__sub-heading">
                                        Подобрать курс для ребенка
                                    </b>
                                    <ul class="submenu__list">
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Очные курсы в Москве</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Онлайн-курсы в прямом эфире</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Курсы в записи</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Летние очные курсы</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="submenu__column">
                                    <b class="submenu__sub-heading">
                                        Бесплатные материалы
                                    </b>
                                    <ul class="submenu__list">
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Учебники</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Справочные материалы</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Пробные ЕГЭ</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Пробные ОГЭ</a>
                                        </li>
                                        <li class="submenu__item submenu__item--pushed">
                                            <a class="submenu__link" href="#">Все бесплатные материалы</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header__item">
                        <a class="header__link" href="#">
                            ЕГЭ-2023
                        </a>
                    </div>
                    <div class="header__item header__item--has-dropdown">
                        <button class="header__link" type="button">
                            Бесплатные материалы
                        </button>
                        <div class="header__dropdown">
                            <button class="header__close" type="button">
                                <svg class="header__arrow" width="20" height="20">
                                    <use xlink:href="../symbols/symbols.svg?1711461751#arrow-left"></use>
                                </svg>
                                <span class="header__back">Назад</span>
                                <svg class="header__cross" width="20" height="20">
                                    <use xlink:href="../symbols/symbols.svg?1711461751#cross"></use>
                                </svg>
                            </button>
                            <div class="submenu">
                                <div class="submenu__summary">
                                    <b class="submenu__heading">
                                        Бесплатные материалы для подготовкик ЕГЭ и ОГЭ по всем школьным предметам
                                    </b>
                                    <div class="submenu__operations">
                                        <a class="submenu__action button button--border-accent" href="#">Перейти к материалам →</a>
                                    </div>
                                </div>
                                <div class="submenu__column">
                                    <b class="submenu__sub-heading">
                                        Учебники по предметам
                                    </b>
                                    <ul class="submenu__list">
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Математика</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Русский язык</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Обществознание</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Литература</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Физика</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Информатика</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Химия</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">История</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Биология</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Английский язык</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="submenu__column">
                                    <b class="submenu__sub-heading">
                                        Самостоятельная подготовка
                                    </b>
                                    <ul class="submenu__list">
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Очные курсы в Москве</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Онлайн-курсы в прямом эфире</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Курсы в записи</a>
                                        </li>
                                        <li class="submenu__item">
                                            <a class="submenu__link" href="#">Летние очные курсы</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header__contacts">
                    <div class="header__phone">
                        <a class="link link--fake" href="tel:+78007750682">8 (800) 775-06-82</a>
                    </div>
                    <div class="header__address">
                        <svg class="header__pin" width="16" height="16">
                            <use xlink:href="../symbols/symbols.svg?1711461751#geo"></use>
                        </svg>
                        Москва
                    </div>
                </div>
                <div class="header__social media media--enlarged">
                    <a class="media__item media__item--vk" href="#">Вконтакте</a>
                    <a class="media__item media__item--instagram" href="#">Instagram</a>
                    <a class="media__item media__item--youtube" href="#">YouTube</a>
                </div>
            </div>
        </header>
        <div class="info">
            <!-- temp -->
            <div style="width: 100%; height: 100%; display: flex; align-items: center; justify-content: center;">Баннер</div>
            <!--/temp -->
        </div>
        <div class="page">
            <div class="jumbotron container">
                <div class="jumbotron__content">
                    <h1 class="jumbotron__heading" style="max-width: 728px;">
                        Курсы подготовки к ЕГЭ, ОГЭ и олимпиадам по физике
                    </h1>
                    <div class="jumbotron__description" style="max-width: 728px;">
                        В 2010-2021 году более 450 наших учеников поступили в МГУ, на Физтех, в МГТУ, МЭИ, МАИ. В 2016-2021 годах мы выпустили более 39 призеров олимпиад, зачисленных в ВУЗы без экзаменов.
                    </div>
                    <div class="jumbotron__operations">
                        <a class="jumbotron__action button button--larger" href="#">
                            Оставить заявку
                        </a>
                        <a class="jumbotron__action button button--larger button--border" href="#">
                            Выбрать курс
                        </a>
                    </div>
                </div>
                <div class="jumbotron__preview">
                    <!-- Temp -->
                    <div style="height: 508px; border: 1px solid var(--green-light); border-radius: 6px"></div>
                    <!--/Temp -->
                </div>
            </div>
            <section class="types container">
                <div class="types__item types__item--moscow">
                    <h2 class="types__heading">
                        Очные курсы в Москве
                    </h2>
                    <div class="types__description wysiwyg">
                        <p>
                            Занятия на очных курсах начнутся со 2 августа 2021 года. Звоните!
                        </p>
                        <ul>
                            <li>Проведем бесплатное тестирование для определения уровня</li>
                            <li>Составим персональный план занятий</li>
                            <li>Готовим с любого уровня</li>
                            <li>Занятия индивидуально или в мини-группах</li>
                            <li>Занятия проходят в центре Москвы</li>
                            <li>Сопровождаем на апелляции после ЕГЭ (до 3-10 тестовых баллов)</li>
                        </ul>
                    </div>
                    <a class="types__acton button button--border" href="#">
                        Выбрать курс в Москве
                    </a>
                </div>
                <div class="types__item types__item--online">
                    <h2 class="types__heading">
                        Онлайн-курсы подготовки
                        в прямом эфире
                    </h2>
                    <div class="types__description wysiwyg">
                        <p>
                            Дистанционная подготовка учащихся из любого города России.
                        </p>
                    </div>
                    <a class="types__acton button button--border" href="#">
                        Выбрать онлайн-курс
                    </a>
                </div>
                <div class="types__item types__item--records">
                    <h2 class="types__heading">
                        Курсы в записи
                    </h2>
                    <div class="types__description wysiwyg">
                        <p>
                            Начать можно в любой момент. Все онлайн-занятия есть в записи, а тренажер задач ждет вас 24/7.
                        </p>
                    </div>
                    <a class="types__acton button button--border" href="#">
                        Выбрать курс в записи
                    </a>
                </div>
            </section>
            <section class="teacher-card container">
                <div class="teacher-card__data">
                    <h2 class="teacher-card__heading">
                        <span class="highlight">Ведущий курсов по физике</span> — репетитор-профессионал со стажем преподования более 16 лет
                    </h2>
                    <div class="teacher-card__description wysiwyg">
                        <p>Моего опыта в курсе школьной физики хватает, чтобы любую из довольно сложных, непонятных, а потому и нелюбимых школьниками тем, преподнести понятно и доступно. Не люблю слово репетитор. Отдаю предпочтение понятию тренер, кем по сути и являюсь. Ученик перед экзаменом должен быть спокоен за экзамен. Уверен в нем, уверен в себе.</p>
                    </div>
                </div>
                <div class="teacher-card__summary">
                    <a class="teacher-card__preview circle circle--larger" href="#">
                        <img class="circle__photo"
                             width="160"
                             height="160"
                             srcset="../temp/circle-large-photo@2x.jpg"
                             src="../temp/circle-large-photo.jpg"
                             alt=""
                        >
                    </a>
                    <div class="teacher-card__name">
                        <a class="link link--inherit" href="#">Всеволод Александрович Борискин</a>
                    </div>
                    <div class="teacher-card__more">
                        <a class="dash" href="#">
                            <span class="dash__label">О преподавателе</span>
                            <svg class="dash__icon dash__icon--right" width="20" height="20">
                                <use xlink:href="../symbols/symbols.svg?1711461751#arrow-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </section>
            <section class="feature feature--top">
                <div class="feature__wrap container">
                    <div class="feature__preview">
                        <div class="feature__pic">
                            <img class="feature__image" src="../temp/feature-a.jpg" width="543" height="335" alt="">
                        </div>
                    </div>
                    <div class="feature__content">
                        <div class="feature__prefix">
                            День открытых дверей
                        </div>
                        <h2 class="feature__heading">
                            Посетите Центр подготовки к ЕГЭ
                            в день открытых дверей
                        </h2>
                        <div class="feature__description">
                            Мы протестируем учащегося в формате ОГЭ/ЕГЭ, чтобы понять уровень подготовки к экзамену на данный момент. Также вы получите полноценную консультацию преподавателя самого высокого уровня. Мы приглашаем детей посетить пробные занятия в группах, чтобы ребенок смог сам выбрать преподавателя, с которым он бы хотел заниматься.
                        </div>
                        <div class="feature__menu">
                            <div class="feature__action">
                                <a class="button button--border" href="#">
                                    Подробнее о дне открытых<br class="feature__line-break"> дверей →
                                </a>
                            </div>
                            <div class="feature__action">
                                <a class="button button--border" href="#">
                                    Посетить центр →
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="feature">
                <div class="feature__wrap container">
                    <div class="feature__preview">
                        <div class="feature__pic">
                            <img class="feature__image" src="../temp/feature-a.jpg" width="543" height="335" alt="">
                        </div>
                    </div>
                    <div class="feature__content">
                        <div class="feature__prefix">
                            О центре
                        </div>
                        <h2 class="feature__heading">
                            «ЕГЭ-Студия» — лидер в области подготовки к ЕГЭ и поступления в ВУЗы
                        </h2>
                        <div class="feature__description">
                            Мы — профессионалы. Мы хотим, чтобы профессионалов в России стало больше. Наша миссия — качественное и доступное образование для школьников России и других стран. Мы ведем набор в новые группы в течение всего учебного года.
                        </div>
                        <div class="feature__menu">
                            <div class="feature__action">
                                <a class="button button--border" href="#">
                                    Подробнее о центре →
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="contacts-preview">
                <div class="contacts-preview__wrap container">
                    <div class="contacts-preview__callback">
                        <h2 class="contacts-preview__heading">
                            Оставьте заявку —
                            мы вам перезвоним!
                        </h2>
                        <form class="contacts-preview__form">
                            <div class="contacts-preview__field input">
                                <input class="input__widget" type="text" placeholder="Фамилия и имя *">
                            </div>
                            <div class="contacts-preview__field input">
                                <input class="input__widget" type="text" placeholder="Телефон">
                            </div>
                            <div class="contacts-preview__interest">
                                <div class="contacts-preview__interest-label">
                                    Меня интересуют:
                                </div>
                                <div class="contacts-preview__interest-courses">
                                    <label class="choice choice--checkbox">
                                        <input class="choice__widget" type="checkbox">
                                        <i class="choice__icon" role="presentation"></i>
                                        <span class="choice__label">Очные курсы</span>
                                    </label>
                                    <label class="choice choice--checkbox">
                                        <input class="choice__widget" type="checkbox">
                                        <i class="choice__icon" role="presentation"></i>
                                        <span class="choice__label">Онлайн-курсы</span>
                                    </label>
                                    <label class="choice choice--checkbox">
                                        <input class="choice__widget" type="checkbox">
                                        <i class="choice__icon" role="presentation"></i>
                                        <span class="choice__label">Другое</span>
                                    </label>
                                </div>
                            </div>
                            <label class="contacts-preview__agreement choice choice--checkbox">
                                <input class="choice__widget" type="checkbox">
                                <i class="choice__icon" role="presentation"></i>
                                <span class="choice__label">Даю согласие на обработку персональных данных</span>
                            </label>
                            <button class="contacts-preview__submit button" type="submit">
                                Отправить заявку
                            </button>
                        </form>
                    </div>
                    <div class="contacts-preview__to-call">
                        <div class="contacts-preview__channel">
                            <div class="contacts-preview__label">
                                Звоните! Бесплатно по РФ
                            </div>
                            <div class="contacts-preview__number">
                                <a class="link link--fake" href="tel:+78007750682">8 (800) 775-06-82</a>
                            </div>
                        </div>
                        <div class="contacts-preview__channel">
                            <div class="contacts-preview__label">
                                Телефон в Москве
                            </div>
                            <div class="contacts-preview__number">
                                <a class="link link--fake" href="tel:+74959840927P1">8 (495) 984 09 27 (доб. 1)</a>
                            </div>
                        </div>
                        <div class="contacts-preview__body wysiwyg">
                            <ul class="list">
                                <li class="list__item">Средний балл на ЕГЭ 2020: математика — 83 балла, русский язык — 88 баллов, обществознание — 86 баллов.</li>
                                <li class="list__item">Записывайтесь заранее! Количество мест в группах ограничено.</li>
                                <li class="list__item">Проконсультируем по вопросам поступления в вузы, проведем бесплатную профессиональную ориентацию и проконсультируем по экзаменам ЕГЭ.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="center container">
                <h2 class="center__heading">
                    Центр подготовки к ЕГЭ
                </h2>
                <div class="center__description">
                    Вам нужен центр подготовки к ЕГЭ, чтобы гарантированно поступить в ВУЗ? Мы поможем вам. Ежегодно 100 % наших учеников поступают в ведущие ВУЗы страны: МГУ, МГИМО, МФТИ, ВШЭ, ФА и другие. Обратившись к нам — вы обязательно станете одним из тех, чьими результатами мы гордимся. Качественная подготовка к ЕГЭ — непростая задача. Мы помогаем сохранить время, деньги и положительные эмоции! Ваша подготовка к экзамену в нашем центре подготовки к ЕГЭ станет первым успешным шагом в большую жизнь.
                </div>
                <div class="center__more">
                    <a class="link" href="#">Показать больше</a>
                </div>
            </section>
            <footer class="footer">
                <div class="footer__wrap container container--wild">
                    <div class="footer__column footer__column--summary">
                        <div class="footer__emblem logo">
                            Logo
                        </div>
                        <button class="footer__handler footer__handler--info" type="button">
                            Информация
                        </button>
                        <div class="footer__dropdown">
                            <div class="footer__item">
                                <a class="footer__link" href="#">Свидетельства</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Политика конфиденциальности</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Оферта</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Условия использования видеокурсов</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Технические условия</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Для франчайзи</a>
                            </div>
                        </div>
                        <div class="footer__social media">
                            <a class="media__item media__item--vk" href="#">Вконтакте</a>
                            <a class="media__item media__item--instagram" href="#">Instagram</a>
                            <a class="media__item media__item--youtube" href="#">YouTube</a>
                        </div>
                        <div class="footer__copyright">
                            © ЕГЭ-Студия, 2008–2022
                        </div>
                    </div>
                    <div class="footer__column">
                        <button class="footer__handler" type="button">О центре</button>
                        <div class="footer__dropdown">
                            <div class="footer__item">
                                <a class="footer__link" href="#">О центре</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Наши преподаватели</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Отзывы</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Новости</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">История центра</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">День открытых дверей</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Благотворительность</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Вакансии в центре</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Контакты</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__column">
                        <button class="footer__handler" type="button">
                            Курсы
                        </button>
                        <div class="footer__dropdown">
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по математике</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по русскому языку</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по обществознанию</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по литературе</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по физике</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по информатике</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по химии</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по истории</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по биологии</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы по английскому языку</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Все курсы</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__column">
                        <button class="footer__handler" type="button">
                            Форматы обучения
                        </button>
                        <div class="footer__dropdown">
                            <div class="footer__item">
                                <a class="footer__link" href="#">Очные курсы в Москве</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Онлайн-курсы в прямом эфире</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Курсы в записи</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Летние очные курсы</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Все курсы</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__column">
                        <button class="footer__handler" type="button">
                            Бесплатные материалы
                        </button>
                        <div class="footer__dropdown">
                            <div class="footer__item">
                                <a class="footer__link" href="#">Учебники</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Справочные материалы</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Пробные ЕГЭ</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Пробные ОГЭ</a>
                            </div>
                            <div class="footer__item">
                                <a class="footer__link" href="#">Все бесплатные материалы</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <div class="alert" style="display: none;">
            <div class="alert__label">
                Спасибо! Вы подписаны на рассылку.<br class="hide hide_mobile">
                На вашу почту скоро придут материалы и шпаргалки по ЕГЭ.
            </div>
            <button class="alert__dismiss" type="button">
                <span class="visuallyhidden">Закрыть</span>
                <svg class="alert__cross" width="20" height="20">
                    <use xlink:href="../symbols/symbols.svg?1711461751#cross"></use>
                </svg>
            </button>
        </div>

        <!-- Scripts -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>
        <script src="../vendors/outline/outline.js"></script>
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../scripts/_footer.js?1711461751"></script>
        <script src="../scripts/_input.js?1711461751"></script>
        <script src="../scripts/_slideshow.js?1711461751"></script>
        <script src="../scripts/_courses.js?1711461751"></script>
        <script src="../scripts/_program.js?1711461751"></script>
        <script src="../scripts/_single-course.js?1711461751"></script>
        <script src="../scripts/_jobs.js?1711461751"></script>
        <script src="../scripts/_mfp.js?1711461751"></script>
        <script src="../scripts/_accordion.js?1711461751"></script>
        <script src="../scripts/_form.js?1711461751"></script>
        <script src="../scripts/_collapse.js?1711461751"></script>
        <script src="../scripts/_header.js?1711461751"></script>
        <script src="../scripts/_nav.js?1711461751"></script>
        <script src="../scripts/_faq.js?1711461751"></script>
        <script src="../scripts/_bar.js?1711461751"></script>
        <script src="../scripts/_subscription.js?1711461751"></script>
        <script src="../scripts/_alert.js?1711461751"></script>

    </body>
</html>



